﻿@model JqueryDTWithMVC.Models.DAL.Vacation.VacationsModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Create New TimeOff";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            @ViewBag.Title
        </h4>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-pills-rose nav-stacked">
                    <li>
                        <a href="#profile" data-toggle="tab" aria-expanded="false" onclick="HideMulti(true)" id="singleTimeOffBtn">
                            Single Day
                        </a>
                    </li>
                    <li class="active">
                        <a href="#profile" data-toggle="tab" aria-expanded="true" onclick="HideMulti(false)">
                            Multiple Days
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <div class="tab-pane" id="profile">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <hr />
                                <div class="form-group">
                                    @Html.LabelFor(model => model.day_part, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EnumDropDownListFor(model => model.day_part, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.day_part, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.fromDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.fromDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.fromDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" id="toDateSele">
                                    @Html.LabelFor(model => model.toDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.toDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.toDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" id="hoursToggler">
                                    @Html.LabelFor(model => model.hours, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.hours, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.hours, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.message, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Vacation Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("VacationTypeModelID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.VacationTypeModelID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <input type="hidden" name="ApplicationUserId" id="ApplicationUserId" value="@User.Identity.GetUserId()" />

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
              @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
            </div>
            
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#hoursToggler').hide();
        var showHours = false;
        document.getElementById('singleTimeOffBtn').click();

        function HideMulti(hideMulti) {
            if (hideMulti == true) {
                $('#toDateSele').hide();
                showHours = true;
            }
            else {
                $('#toDateSele').show();
                showHours = false;
                $('#hoursToggler').hide();
            }
        }

        $(function () {
            $("#day_part").change(function () {
                var firstDropVal = $('#day_part').val();
                if (firstDropVal != 0 && showHours) {
                    $('#hoursToggler').show();
                }
                else {
                    $('#hoursToggler').hide();
                }
            });
        });
    </script>
}
