﻿@model JqueryDTWithMVC.Models.DAL.Vacation.VacationsModel
@using Microsoft.AspNet.Identity;

<div class="instruction">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-pills-rose nav-stacked">
                <li>
                    <a href="#profile" data-toggle="tab" aria-expanded="false" onclick="HideMulti(true)" id="singleTimeOffBtn">
                        Single Day
                    </a>
                </li>
                <li class="active">
                    <a href="#profile" data-toggle="tab" aria-expanded="true" onclick="HideMulti(false)">
                        Multiple Days
                    </a>
                </li>
            </ul>

        </div>
        <div class="col-md-8">
            <div class="tab-content">
                <div class="tab-pane" id="profile">
                    @using (Html.BeginForm("Create", "VacationsModels", FormMethod.Post, new { @id="createPartial" }))
                    {
                        <input type="hidden" name="fromPartial" id="fromPartial" value="true" />
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.day_part, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.day_part, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.day_part, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fromDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fromDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.fromDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="toDateSele">
                                @Html.LabelFor(model => model.toDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.toDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.toDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="hoursToggler">
                                @Html.LabelFor(model => model.hours, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.hours, new { htmlAttributes = new { @class = "form-control", @type = "number", @Value="8", @min="0", @max="1000" } })
                                    @Html.ValidationMessageFor(model => model.hours, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.message, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Vacation Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("VacationTypeModelID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.VacationTypeModelID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <input type="hidden" name="ApplicationUserId" id="ApplicationUserId" value="@User.Identity.GetUserId()" />
                            <div class="" id="showError" style="margin:10px 10px 10px 10px;color:red;font-size:15px">
                                @ViewBag.errorBalance
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-2">
                                    <input type="submit" value="Create" class="btn btn-success" id="btnSave" />
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#hoursToggler').hide();
    var showHours = false;
    document.getElementById('singleTimeOffBtn').click();

    function HideMulti(hideMulti) {
        if (hideMulti == true) {
            $('#toDateSele').hide();
            showHours = true;
            hoursToggle();
            $("#toDate").prop('required', false);
        }
        else {
            $('#toDateSele').show();
            showHours = false;
            $('#hoursToggler').hide();
            $("#toDate").prop('required', true);
        }
    }

    $(function () {
        $("#day_part").change(function () {
            hoursToggle();
        });
    });

    function hoursToggle() {
        var firstDropVal = $('#day_part').val();
        if (firstDropVal != 0 && showHours) {
            $('#hoursToggler').show();
        }
        else {
            $('#hoursToggler').hide();
        }
    }

    $('#btnSave').click(function (e) {
        var element = this;
        e.preventDefault(); // <------------------ stop default behaviour of button
        $.ajax({
            url: "/Home/EmployeeTimeOffStatus",
            type: "get",
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                if (data != null) {
                    var seleOp = $('#VacationTypeModelID').val();
                    console.log(seleOp)
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].Id == seleOp) { // if selected options and data from api matches
                            if(data[i].typelimit){
                            }
                            else{
                                data[i].typelimit = (data[i].balance+1)
                            }
                              
                            var currBala = (data[i].typelimit - data[i].balance) * 24; // in hours
                            console.log('checking: ' + data[i].typelimit + " - " + data[i].balance);
                            if (showHours) {
                                // hours
                                var hours = document.getElementById("hours").value;
                                console.log('hours and currBala : ' + currBala + " - " + hours);
                                if (currBala <= hours) {
                                    document.getElementById("showError").innerHTML = "The number of days you are trying to book exceeds available days."
                                }
                                else {
                                    $('#createPartial').submit();
                                }
                            }
                            else {
                                // toDate and fromDate
                                var fromDate = new Date(document.getElementById("fromDate").value);
                                var toDate =  new Date(document.getElementById("toDate").value)
                                console.log('hours and currBala : ' + toDate + " % " + fromDate);
                                var hours = (Math.abs(fromDate - toDate)) / (1000 * 60 * 60);;
                                console.log('hours and currBala : ' + currBala + " - " + hours);
                                if (currBala <= hours) {
                                    document.getElementById("showError").innerHTML = "The number of days you are trying to book exceeds available days."
                                }
                                else {
                                    
                                    $('#createPartial').submit();
                                }
                            }
                        }
                    }
                } else {
                    console.log("Error occurs on the Database level!");
                }
            },
            error: function () {
                console.log("An error has occured!!!");
            }
        });
    });
</script>



