﻿@model JqueryDTWithMVC.Models.DAL.Vacation.VacationsModel

@{
    ViewBag.Title = "Delete TimeOff";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}


<style>
    dt dd{
        margin:10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
    }
</style>
<div class="card">
    <div class="card-header" data-background-color="green">
        <h4 class="title">@ViewBag.Title</h4>
        <p>Do you want to Delete the following TimeOff?</p>
    </div>
    <div class="card-content">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Employee Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.EmployeeName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.vacType.vacationName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vacType.vacationName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day_part)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day_part)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fromDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fromDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.toDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.toDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.message)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.message)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
                </div>
            }
        </div>

    </div>
</div>

