﻿@model JqueryDTWithMVC.Models.DAL.Vacation.VacationsModel

@{
    ViewBag.Title = "Time Off Details";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="card">
    <div class="card-header" data-background-color="green">
        <h4 class="title">@ViewBag.Title</h4>
    </div>
    <div class="card-content">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.user.EmployeeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.EmployeeName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.vacType.vacationName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vacType.vacationName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day_part)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day_part)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fromDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fromDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.toDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.toDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.message)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.message)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>

