﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.Vacation.VacationsModel>

@{
    ViewBag.Title = "Time Off List";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title" style="color:white">@ViewBag.Title</h4>
    </div>
    <div class="card-content">
        @Html.ActionLink("Create TimeOff", "Create", null, new { @class = "btn btn-success" })
        <table class="table table-hover">
            <tbody>
                @foreach (var item in Model)
                {
                    string textDes = item.hours > 8 ? TimeSpan.FromHours(item.hours.Value).TotalDays.ToString() + " days" : item.hours.ToString() + " hours";
                    <tr>
                        <td>
                            <img src="~/Content/SiteImage/logo.png" style="height:100px;width:100px;border-radius:50px" />
                        </td>
                        <td>
                            <h4 style="margin-bottom:0px">@Html.DisplayFor(modelItem => item.user.EmployeeName)</h4>
                            <p style="margin-bottom:0px;font-size:16px">
                                @Html.DisplayFor(modelItem => item.vacType.vacationName) on @item.fromDate.ToString("yyyy-MM-dd"), @textDes
                            </p>
                            <p style="font-weight:700">@item.message</p>
                        </td>
                        <td>
                            <a href="@Url.Action("Details")?id=@item.ID">
                                <i class="material-icons" style="font-size:35px">visibility</i>
                            </a>
                            |
                            <a href="@Url.Action("Delete")?id=@item.ID">
                                <i class="material-icons" style="font-size:35px">delete</i>
                            </a>
                            |
                            <a href="@Url.Action("ChangeStatus")?id=@item.ID&state=@JqueryDTWithMVC.Models.DAL.Vacation.ReqState.approved">
                                <i class="material-icons" style="font-size:35px">done</i>
                            </a>
                            |
                            <a href="@Url.Action("ChangeStatus")?id=@item.ID&state=@JqueryDTWithMVC.Models.DAL.Vacation.ReqState.declined">
                                <i class="material-icons" style="font-size:35px">clear</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

