﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.Vacation.VacationsModel>
@{
    ViewBag.Title = "User Time Off ";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Dates</th>
            <th>Request Date</th>
            <th>Type</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string textDes = item.hours > 8 ? TimeSpan.FromHours(item.hours.Value).TotalDays.ToString() + " days" : item.hours.ToString() + " hours";
            <tr>
                <td>@item.fromDate</td>
                
                <td>@item.date_requested</td>
                
                <td>@item.vacType.vacationName</td>

                <td>@item.message</td>
                
                <td>
                    <a href="@Url.Action("Details")?id=@item.ID">
                        <i class="material-icons" style="font-size:35px">visibility</i>
                    </a>
                    |
                    <a href="@Url.Action("Delete")?id=@item.ID">
                        <i class="material-icons" style="font-size:35px">delete</i>
                    </a>
                    |
                    <a href="@Url.Action("ChangeStatus")?id=@item.ID&state=@JqueryDTWithMVC.Models.DAL.Vacation.ReqState.approved">
                        <i class="material-icons" style="font-size:35px">done</i>
                    </a>
                    |
                    <a href="@Url.Action("ChangeStatus")?id=@item.ID&state=@JqueryDTWithMVC.Models.DAL.Vacation.ReqState.declined">
                        <i class="material-icons" style="font-size:35px">clear</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>





