﻿@model JqueryDTWithMVC.Models.DAL.MaritalStatus.MaritalStatusModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Do you want to delete this record? </h3>
<div>
    <h4>MaritalStatusModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
