﻿@model JqueryDTWithMVC.Models.DAL.MaritalStatus.MaritalStatusModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>MaritalStatusModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
</p>
