﻿@model JqueryDTWithMVC.Models.DAL.EmergenceyContact.EmergenceyContactModel

@{
    ViewBag.Title = "Create Emergency Contact";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RelationShip, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.RelationShip, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.RelationShip, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePhone, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkPhone, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.WorkPhone, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobilePhone, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.Region, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostCode, htmlAttributes: new { @class = "label-control" })

                @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control" } })
				<span class="material-input"></span>
                @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationUserId, "ApplicationUserId", htmlAttributes: new { @class = "label-control" })

                @Html.DropDownList("ApplicationUserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApplicationUserId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back To List", "Index",null, new { @class = "btn btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
