﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.EmergenceyContact.EmergenceyContactModel>

@{
    ViewBag.Title = " Emergency Contact List";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New Emergency Contact", "Create", new { userId = ViewBag.userId }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationShip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelationShip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            <a href="/NotesModels/Edit?id=@item.ID" class="btn btn-just-icon btn-simple btn-twitter">
                <i class="fa fa-edit"></i>
                <div class="ripple-container"></div> |
            </a>
            <a href="/NotesModels/Delete?id=@item.ID" class="btn btn-just-icon btn-simple btn-twitter">
                <i class="fa fa-close"></i>
                <div class="ripple-container"></div> |
            </a>
            <a href="/NotesModels/Details?id=@item.ID" class="btn btn-just-icon btn-simple btn-twitter">
                <i class="fa fa-info"></i>
                <div class="ripple-container"></div>
            </a>
        </td>
    </tr>
}

</table>
