﻿@model JqueryDTWithMVC.Models.DAL.Teams.TeamsModel

@{
    ViewBag.Title = "Team Details";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            @ViewBag.Title
        </h4>
    </div>
    <div class="card-content" style="font-size:13px !important;">
        <div>
            <h4>Team Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.relatedBranch.branch_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.relatedBranch.branch_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.teamName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.teamName)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("تعديل", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("العودة الى القائمة", "Index", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>
