﻿@model JqueryDTWithMVC.Models.ViewModels.Teams.TeamsViewModel

@{
    ViewBag.Title = "Edit Team Informations";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<link href="~/Content/selectize/selectize.bootstrap3.css" rel="stylesheet" />
<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            @ViewBag.Title
        </h4>
    </div>
    <div class="card-content" style="font-size:13px !important;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Edit the Following Informations:</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.teamName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.teamName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.teamName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.teamType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.teamType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.teamType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="select-employee" class="control-label col-md-2">Team Members</label>
                    <div class="col-md-10">
                        <select id="select-employee" name="relatedUsers[]" multiple class="demo-default" style="width:70%" placeholder="Select an Employee...">
                            <option value="">Select an Employee...</option>
                            @foreach (var user in (SelectList)ViewBag.associatedUsers)
                            {
                                if (Model.users != null)
                                {
                                    if (Model.users.Any(aa => aa.Id == user.Value))
                                    {
                                        <option value="@user.Value" selected>@user.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="@user.Value">@user.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Team Manager", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownList("TeamLeadersModelsID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TeamLeadersModelsID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BranchesModelID, "BranchesModelID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownList("BranchesModelID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BranchesModelID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("العودة الى القائمة", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Content/selectize/selectize.js"></script>
    <script>
        $('#select-employee').selectize({
        });
    </script>
}
