﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.Teams.TeamsModel>

@{
    ViewBag.Title = "Teams List";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            @ViewBag.Title
        </h4>
    </div>
    <div class="card-content" style="font-size:13px !important;">
        <p>
            @Html.ActionLink("Create New Team", "Create", null, new { @class = "btn btn-success" })
        </p>
        <div class="material-datatables">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Branch Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.teamName)
                        </th>
                        <th  class="disabled-sorting">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.relatedBranch.branch_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.teamName)
                            </td>
                            <td>
                                <a href="/@ViewContext.RouteData.Values["controller"].ToString()/Details?id=@item.ID" class="btn btn-simple btn-info btn-icon like"><i class="material-icons" style="font-size:30px">assignment</i></a>
                                <a href="/@ViewContext.RouteData.Values["controller"].ToString()/Edit?id=@item.ID" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons" style="font-size:30px">create</i></a>
                                <a href="/@ViewContext.RouteData.Values["controller"].ToString()/Delete?id=@item.ID" class="btn btn-simple btn-danger btn-icon remove"><i class="material-icons" style="font-size:30px">close</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }

        });


        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function() {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // Delete a record
        table.on('click', '.remove', function(e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function() {
            alert('You clicked on Like button');
        });

        $('.card .material-datatables label').addClass('form-group');
    });
</script>
}