﻿
@{
    ViewBag.Title = "Organization Chart";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<link rel="stylesheet" href="/Content/JqueryOrganChart/jquery.orgchart.css">
<link rel="stylesheet" href="/Content/JqueryOrganChart/style.css">
<style type="text/css">
    #chart-container {
        height: 620px;
    }

    .orgchart {
        background: white;
    }
</style>

<div id="chart-container"></div>

@section Scripts{
    <script type="text/javascript" src="/Content/JqueryOrganChart/jquery.orgchart.js"></script>
    <script>
        'use strict';
        (function ($) {
            $(function () {
                var serviceURL = '/TeamsModels/OrganizationC';

                $('#chart-container').orgchart({
                    'data': '/TeamsModels/OrganizationC',
                    'nodeContent': 'title',
                    'draggable': true,
                    'dropCriteria': function ($draggedNode, $dragZone, $dropZone) {
                        if ($draggedNode.find('.content').text().indexOf('manager') > -1 && $dropZone.find('.content').text().indexOf('engineer') > -1) {
                            return false;
                        }
                        return true;
                    }
                })
                .children('.orgchart').on('nodedropped.orgchart', function (event) {
                    console.log('draggedNode:' + event.draggedNode.children('.title').text()
                      + ', dragZone:' + event.dragZone.children('.title').text()
                      + ', dropZone:' + event.dropZone.children('.title').text()
                    );
                });
            });

        })(jQuery);
    </script>
}





