﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.Teams.TeamsModel>
@{
    ViewBag.Title = "Teams View";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<link href="~/Content/selectize/selectize.bootstrap3.css" rel="stylesheet" />
<style>
    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
    }

    .gu-hide {
        display: none !important;
    }

    .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
</style>

<div class="content-header">
    <div class="view-header" style="color:black !important">
        <h4>Teams</h4>
        <div class="subject-description">
            <p>Simply drag and drop employees on the team box to assign them to a specific team, To remove employees from a team, drag and drop them back into the un assigned field</p>
        </div>
    </div>
    <a class="btn waves-effect waves-light modal-trigger" href="/TeamsModels/Create"><span class="button-text">Create a new team</span></a>
</div>
<div class="wrapper" style="margin-bottom:10px">
    @foreach (var ll in Model)
    {
        <div class="card" style="margin-top:30px;margin-bottom:30px;background-color:#fbfbfb">
            <div class="card-header card-header-text" data-background-color="rose" data-header-animation="true" style="width:100%">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="card-title" style=""><b>@ll.teamName Dep.</b> (@ll.relatedUsers.Count members)</h5>
                    </div><div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p style="font-size:16px !important">
                            @if (ll.leadersList != null)
                            {
                                <b>Managers: </b>
                                foreach (var leader in ll.leadersList)
                                {
                                    <span class="tag label label-info">
                                        <a href="/Account/Employee?userId=@leader.userId" target="_blank">
                                            @leader.userName
                                        </a>
                                    </span>

                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-content" id="move_@ll.ID" style="align-content:center">
                <div class="card-actions">
                    <button class="btn btn-primary btn-simple" data-toggle="modal" rel="tooltip"
                            data-placement="bottom" title="" data-original-title="Edit" data-target="#editTeamModal" onclick="EditTeam(@ll.ID,'@ll.teamName')">
                        <i class="material-icons">edit</i>
                    </button>
                    <button type="button" class="btn btn-success btn-simple" rel="tooltip"
                            data-placement="bottom" title="" data-original-title="Remove" onclick="window.location.href = '/TeamsModels/Delete?id=@ll.ID'">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                @foreach (var user in ll.relatedUsers)
                {
                    <div class="card card-product" id="@user.Id" data-count="3" style="width:400px;margin:5px 5px 5px 5px">
                        <div class="card-content" style="padding:3px 3px 3px 3px;">
                            @{ string xxx = user.Id + "_.jpg?t=" + System.DateTime.Now;}
                            <img src="~/Content/SiteImage/UsersImage/@xxx" style="width: 45px;margin: 5px 2%;border-radius: 30px;float: left;height:45px;">
                            
                            <div style="vertical-align:middle;margin-top:5px;padding-left:10px;float:left !important;">
                                <h6 class="card-title" style="font-weight:600">
                                    <a href="/Account/Employee?userId=@user.Id">@user.EmployeeName</a>
                                </h6>
                                <div class="card-description" style="font-size:12px">
                                    @ll.teamName
                                </div>
                            </div>
                        </div>
                    </div>
                  }
            </div>
        </div>
     }

    <div class="card" style="margin-top:30px;margin-bottom:30px;background-color:#fbfbfb">
        <div class="card-header card-header-text" data-background-color="blue" data-header-animation="true" style="width:100%">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title" style=""><b>Not Assigned</b></h5>
                </div><div class="col-md-4"></div>
            </div>
        </div>
        <div class="card-content" id="move_0" style="align-content:center">
            @foreach (var user in (List<JqueryDTWithMVC.Models.ApplicationUser>)ViewBag.usersWithoutTeams)
            {
                <div class="card card-product" id="@user.Id" data-count="3" style="width:400px;margin:5px 5px 5px 5px">
                    <div class="card-content" style="padding:3px 3px 3px 3px;">
                        @{ string xxx = user.Id + "_.jpg?t=" + System.DateTime.Now;}
                        <img src="~/Content/SiteImage/UsersImage/@xxx" style="width: 45px;margin: 5px 2%;border-radius: 30px;float: left;height:45px;">

                        <div style="vertical-align:middle;margin-top:5px;padding-left:10px;float:left !important;">
                            <h6 class="card-title" style="font-weight:600">
                                <a href="/Account/Employee?userId=@user.Id">@user.EmployeeName</a>
                            </h6>
                            <div class="card-description" style="font-size:12px">
                                Not Assigned
                            </div>
                        </div>
                    </div>
                </div>
              }
        </div>
    </div>

</div>

<div class="modal fade in" id="editTeamModal" tabindex="-1" role="dialog" aria-labelledby="editTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Edit Team</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0px">
                @using (Html.BeginForm())
                {
                    <input type="hidden" name="teamID" id="teamID" value="" />
                    <div class="form-group">
                        <label class="control-label" style="font-size:14px">Team Name</label>
                        <input type="text" id="teamName" name="teamName" value="" required min="2" class="form-control">
                    </div>
                    <div id="manager">
                        <div class="control-group">
                            <label for="select-state">Managers</label>
                            <select id="selectedLeaders" name="state[]" multiple class="demo-default" style="width:50%" placeholder="Select a Leader..."></select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Save Changes<div class="ripple-container"></div></button>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 40.0875px; top: 23.8px; background-color: rgb(244, 67, 54); transform: scale(8.51094);"></div></div></button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="/Content/Dragula/dragula.js"></script>
    <script src="/Content/selectize/selectize.js"></script>

    <script>
        var dragula = dragula([
            move_0,
            @foreach (var ll in Model)
            {
                <text>
                    move_@ll.ID,
                </text>
            }], {
                    isContainer: function (el) {
                        return false; // only elements in drake.containers will be taken into account
                    },
                    moves: function (el, source, handle, sibling) {

                        return true; // elements are always draggable by default

                    },
                    accepts: function (el, target, source, sibling) {

                        return true; // elements can be dropped in any of the `containers` by default

                    },
                    drop: function (el, target, source, sibling) {
                        alert('hii');
                        return true;
                    },
                    invalid: function (el, handle) {
                        return false; // don't prevent any drags from initiating by default
                    },

                    direction: 'vertical',             // Y axis is considered when determining where an element would be dropped
                    copy: false,                       // elements are moved by default, not copied
                    copySortSource: false,             // elements in copy-source containers can be reordered
                    revertOnSpill: false,              // spilling will put the element back where it was dragged from, if this is true
                    removeOnSpill: false,              // spilling will `.remove` the element, if this is true
                    mirrorContainer: document.body,    // set the element that gets mirror elements appended
                    ignoreInputTextSelection: true     // allows users to select input text, see details below
                }).on('drag', function (el, target, source, sibling) {
                    console.log(target.id);
                    //   console.log(source.id);
                    console.log(el.id);
                    el.className = el.className.replace('ex-moved', '');
                }).on('drop', function (el, target, source, sibling) {
                    //      el.className += ' ex-moved';
                    console.log('drop');
                    var serviceURL = '/TeamsModels/ChangeTeam';

                    $.ajax({
                        type: "POST",
                        url: serviceURL,
                        data: {
                            userId: el.id, teamId: target.id
                        },
                        success: successFunc,
                        error: errorFunc
                    });

                    function successFunc(data, status) {
                        console.log(data);
                    }

                    function errorFunc() {
                        console.log('error');
                    }
                }).on('over', function (el, container) {
                    console.log('over');
                }).on('out', function (el, container) {
                    console.log('out');
                });


        $('#infoForLayout').hide();
        $('#footerForLayout').hide();
    </script>

    <script>
        function EditTeam(id, teamName) {
            console.log(teamName);
            document.getElementById('teamName').value = teamName; document.getElementById('teamID').value = id;
            $.ajax({
                url: "/TeamsModels/GetLeaders?teamID=" + id,
                type: "POST",
                traditional: true,
                dataType: "json",
                traditional: true,
                success: function (data) {
                    console.log(data);
                    if (data.length > 0) {
                        document.getElementById('selectedLeaders').innerHTML = '';
                        for (var i = 0; i < data.length; i++) {
                            document.getElementById('selectedLeaders').innerHTML += '<option value="' + data[i].userId + '" ' + data[i].selected + '>' + data[i].userName + '</option>';
                        }
                        document.getElementById('manager').innerHTML += "";
                        $('#selectedLeaders').selectize({
                            maxItems: 5
                        });
                    }
                },
                error: function () {
                }
            });
        }
    </script>
}
