﻿<!DOCTYPE html>
<html dir="rtl">

<!-- Mirrored from 10.1.90.50/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Feb 2017 12:42:43 GMT -->
<head lang="ar">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title> مجموعة شركات ربان السفينة - @ViewBag.Title</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/css/tameer.ico">
    <!--bootstrap stylesheet-->
    <link rel="stylesheet" type="text/css" href="/Content/js/bootstrap/css/bootstrap.rtl.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/stylesheet.rtl.css" />
    <link rel="stylesheet" type="text/css" href="/Content/js/bootstrap/css/bootstrap-theme.css" />
    <!--/bootstrap stylesheet-->
    <!--Animate stylesheet-->


    <link rel="stylesheet" type="text/css" href="/Content/css/animate.css" />
    <!--/Animate stylesheet-->
    <!--Icon stylesheet-->
    <link rel="stylesheet" type="text/css" href="/Content/css/cal-iconz.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="css/cal-iconz-ie7.css">

    <![endif]-->
    <!--/Icon stylesheet-->
    <script type="text/javascript" src="/Content/js/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap/js/bootstrap.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    <script type="text/javascript" src="/Content/js/noty/packaged/jquery.noty.packaged.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand main-icon">
                    <span>
                        <img id="Main_Logo" src="~/Content/css/logo.png" />
                    </span>
                    <span>مجموعة شركات ربان السفينة</span>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-left:10%;margin-right:10%">
        @RenderBody()
        <hr />
        <footer style="margin-top:30px">
            جميع الحقوق محفوظة لشركة التعمير احدى مجموعة شركات ربان السفينة &copy; @System.DateTime.Now.Year
        </footer>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("Scripts", required: false)
</body>
</html>
