﻿
@{
    ViewBag.Title = "Directory";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="card" ng-app="RequestCreaterApp" ng-controller="RequestCreaterController" id="cardForDirectory">
    <div class="card-content">
        <div class="row">
            <div class="col-md-3">
                <h3>Filter By</h3>
                <div class="form-group">
                    <label class="label-control">Team</label>
                    <select class="form-control input-xlarge select2me" style="width:100% !important" ng-model="seleTeam" ng-change="filterByTeam()"
                            data-placeholder="Team" name="seleTeam" id="seleTeam" ng-options="item as item.teamName for item in teams track by item.ID">
                        <option value=""></option>
                    </select>
                </div>
                <hr />
                <div class="form-group">
                    <label class="label-control">Sort</label>
                    <select class="form-control input-xlarge select2me" style="width:100% !important" ng-model="seleSort" ng-change="sortingBy()"
                            ng-init="seleSort = sortBy[0]" data-placeholder="sort" name="seleSort" id="seleSort" ng-options="o as o for o in sortBy">
                        <option value=""></option>
                    </select>
                </div>
                <hr />
                <div class="form-group">
                    <label class="label-control">On Leave</label>
                    <select class="form-control input-xlarge select2me" style="width:100% !important" ng-model="attendence" ng-change="getAttendence()"
                            ng-init="attendence = attendenceBy[0]" data-placeholder="attendence" name="attendence" id="attendence" ng-options="o as o for o in attendenceBy">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-9" style="margin-top:20px">
                <div class="row">
                    <div class="col-md-4" ng-repeat="emp in employees | orderBy:propertyName">
                        <div class="card card-pricing card-raised" style="height:271px !important;">
                            <div class="content"  style="height:271px !important;">
                                <div class="icon icon-rose">
                                    <img src="~/Content/SiteImage/UsersImage/{{emp.userId}}_.jpg" class="img-circle" style="width:150px" />
                                </div>
                                <h6 class="card-title" style="margin-top:10px">{{emp.Name}}</h6>
                                <p class="card-description">
                                    {{emp.position}}
                                </p>
                                <a href="/Account/Employee?userId={{emp.userId}}" class="btn btn-rose btn-round">Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var appItems = angular.module('RequestCreaterApp', ['angularMoment']);
        appItems.controller('RequestCreaterController', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {

            $scope.teams = [];
            $scope.sortBy = ['None', 'Name', 'Team'];
            $scope.attendenceBy = ['All' ,'true', 'false'];

            $scope.employees = [];
            $scope.orgEmployees = [];

            $scope.filterByTeam = function () {
                $scope.employees = $scope.orgEmployees.filter(function (employee) {
                    if ($scope.seleTeam.ID == 0) {
                        return employee;
                    } else {
                        return ($scope.seleTeam.teamName == employee.position);
                    }
                });
            }

            $scope.getAttendence = function () {
                $scope.employees = $scope.orgEmployees.filter(function (employee) {
                    if ($scope.attendence == 'All') {
                        return employee;
                    } else {
                        return ($scope.attendence == employee.away);
                    }
                });
            }

            $scope.propertyName = 'ID';
            $scope.sortingBy = function () {
                if ($scope.seleSort == 'None') {
                     $scope.propertyName = 'ID';
                }

                $scope.propertyName = $scope.seleSort;
            }

            $http.post('/TeamsModels/TeamList').then(function (recData) {
                if (recData.data.length > 0) {
                    $scope.teams = recData.data;
                }
            });

            $http.post('/Account/GetAllBranchEmployees').then(function (recData) {
                if (recData.data.length > 0) {
                    $scope.orgEmployees = recData.data;
                    $scope.employees = recData.data;
                }
            });

        }]);
        angular.bootstrap(document.getElementById("cardForDirectory"), ['RequestCreaterApp']);
    </script>

}