﻿@model JqueryDTWithMVC.Models.ViewModels.EmployeeInfo.EmployeeInfoViewModel
@{
    ViewBag.Title = "Edit User Informations";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}


@using (Html.BeginForm("Employee", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.userId)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            <div class="fileinput-new thumbnail img-circle">
                @{ string y = @Model.userId + "_.jpg";}
                <img src="~/Content/SiteImage/UsersImage/@y" style="" alt="...">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
            <div>
                <span class="btn btn-round btn-rose btn-file">
                    <span class="fileinput-new">Add Photo</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="image" id="image">
                </span>
                <br>
                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.TitleModelID, htmlAttributes: new { @class = "label-control" })
                    @Html.DropDownList("TitleModelID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TitleModelID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "label-control" })
                    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="material-input"></span>
                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "label-control" })
                    @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="material-input"></span>
                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateEnrollDay, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.dateEnrollDay, new { htmlAttributes = new { @class = "form-control datepicker" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.dateEnrollDay, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PositionModelID, htmlAttributes: new { @class = "label-control" })

            @Html.DropDownList("PositionModelID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PositionModelID, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.workEmail, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.workEmail, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.workEmail, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationUserId, htmlAttributes: new { @class = "label-control" })

            @Html.DropDownList("ApplicationUserId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationUserId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamsModelID, htmlAttributes: new { @class = "label-control" })

            @Html.DropDownList("TeamsModelID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TeamsModelID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmploymentStateModelID, htmlAttributes: new { @class = "label-control" })

            @Html.DropDownList("EmploymentStateModelID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmploymentStateModelID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.drivingLicense, htmlAttributes: new { @class = "label-control" })

            @Html.EditorFor(model => model.drivingLicense, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.drivingLicense, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.linkedln, htmlAttributes: new { @class = "label-control" })

            @Html.EditorFor(model => model.linkedln, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.linkedln, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.skype, htmlAttributes: new { @class = "label-control" })

            @Html.EditorFor(model => model.skype, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.skype, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
 }
<div>
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


