﻿@{
    ViewBag.Title = "تاكيد اعادة تعيين كلمة السر";

}

<hgroup class="title" style="margin-top:5%">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        قمنا بارسال رابط اعادة تعيين كلمة السر .... الرجاء فحص بريدك الكتروني
    </p>
</div>

