﻿@using JqueryDTWithMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/Content/assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewBag.Title</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS -->
    <link href="/Content/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="/Content/assets/css/material-dashboard.css" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/Content/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

    <style>
        /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
        body {
            background-color: #1a8fb4;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }

        .owl {
            margin: auto;
            width: 211px;
            height: 108px;
            background-image: url("https://dash.readme.io/img/owl-login.png");
            position: relative;
        }

            .owl .hand {
                width: 34px;
                height: 34px;
                border-radius: 40px;
                background-color: #472d20;
                transform: scaleY(0.6);
                position: absolute;
                left: 14px;
                bottom: -8px;
                transition: 0.3s ease-out;
            }

                .owl .hand.password {
                    transform: translateX(42px) translateY(-15px) scale(0.7);
                }

                .owl .hand.hand-r {
                    left: 170px;
                }

                    .owl .hand.hand-r.password {
                        transform: translateX(-42px) translateY(-15px) scale(0.7);
                    }

            .owl .arms {
                position: absolute;
                top: 58px;
                height: 41px;
                width: 100%;
                overflow: hidden;
            }

                .owl .arms .arm {
                    width: 40px;
                    height: 65px;
                    background-image: url("https://dash.readme.io/img/owl-login-arm.png");
                    position: absolute;
                    left: 20px;
                    top: 40px;
                    transition: 0.3s ease-out;
                }

                    .owl .arms .arm.password {
                        transform: translateX(40px) translateY(-40px);
                    }

                    .owl .arms .arm.arm-r {
                        left: 158px;
                        transform: scaleX(-1);
                    }

                        .owl .arms .arm.arm-r.password {
                            transform: translateX(-40px) translateY(-40px) scaleX(-1);
                        }

        /*.form {
            margin: auto;
            margin-top: -9px;
            padding: 30px;
            background-color: #fff;
            width: 175px;
        }*/

        .form .control {
            margin-bottom: 10px;
            position: relative;
        }

            .form .control label {
                position: absolute;
                font-size: 16px;
                top: 11px;
                left: 9px;
                color: rgba(0,0,0,0.3);
            }

            .form .control input {
                padding: 9px 6px 9px 30px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 14px;
            }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body style="background-image: url('https://wallpaperbrowse.com/media/images/background-1247931_960_720.jpg');background-repeat:no-repeat;background-size:cover;margin-top:2%;background-attachment:fixed">
    <div class="owl">
        <div class="hand"></div>
        <div class="hand hand-r"></div>
        <div class="arms">
            <div class="arm"></div>
            <div class="arm arm-r"></div>
        </div>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
            <div class="card" style="display:block;margin-top:11px;margin-bottom:11px;margin-left:auto;margin-right:auto;width:600px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);vertical-align:middle;">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title" style="color:white">@ViewBag.Title</h4>
                    <p>Enter your Email and Passowrd to Login</p>
                </div>
                <div class="card-content">
                    <div class="form" method="post" action="/Account/Login">
                        <center>
                            <img src="~/Content/SiteImage/logo.png" style="width:300px;height:100px">
                        </center>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group label-floating is-empty">
                            <label for="email" class="control-label fa fa-envlope">Email</label>
                            <input id="email" type="email" name="Email" class="form-control" autocomplete="off" />
                            <span class="material-input"></span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label for="password" class="control-label">Password</label>
                            <input id="password" type="password" name="Password" class="form-control" autocomplete="off" />
                            <span class="material-input"></span>
                        </div>

                        <div class="checkbox" style="display:none;">
                            <label>
                                <input type="checkbox" name="RememberMe">
                                Remeber Me?
                            </label>
                        </div>
                        <center>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="Login" class="btn btn-success" style="width:90%" />
                                </div>
                            </div>
                        </center>

                        <center>
                            <div class="row" style="margin-top:10px">
                                <div class="col-md-12">
                                    <a href="/Account/ForgotPassword">Forgot your password?</a>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
   
    }

    <script src="/Content/assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/material.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <!-- Forms Validations Plugin -->
    <script src="/Content/assets/js/jquery.validate.min.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="/Content/assets/js/moment.min.js"></script>
    <!--  Charts Plugin -->
    <script src="/Content/assets/js/chartist.min.js"></script>
    <!--  Plugin for the Wizard -->
    <script src="/Content/assets/js/jquery.bootstrap-wizard.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/Content/assets/js/bootstrap-notify.js"></script>
    <!--   Sharrre Library    -->
    <script src="/Content/assets/js/jquery.sharrre.js"></script>
    <!-- DateTimePicker Plugin -->
    <script src="/Content/assets/js/bootstrap-datetimepicker.js"></script>

    <!-- Sliders Plugin -->
    <script src="/Content/assets/js/nouislider.min.js"></script>

    <!-- Select Plugin -->
    <script src="/Content/assets/js/jquery.select-bootstrap.js"></script>

    <!--  DataTables.net Plugin    -->
    <script src="/Content/assets/js/jquery.datatables.js"></script>

    <!-- Sweet Alert 2 plugin -->
    <script src="/Content/assets/js/sweetalert2.js"></script>

    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/Content/assets/js/jasny-bootstrap.min.js"></script>

    <!--  Full Calendar Plugin    -->
    <script src="/Content/assets/js/fullcalendar.min.js"></script>

    <!-- TagsInput Plugin -->
    <script src="/Content/assets/js/jquery.tagsinput.js"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="/Content/assets/js/material-dashboard.js"></script>

    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="/Content/assets/js/demo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            demo.initFormExtendedDatetimepickers();
            md.initSliders()
        });
    </script>
    <script>
        'use strict';

        $('input[type="password"]').on('focus', function () {
            $('*').addClass('password');
        }).on('focusout', function () {
            $('*').removeClass('password');
        });;
    </script>

</body>
</html>