﻿@model JqueryDTWithMVC.Models.ViewModels.Personnal.PersonnalViewModel
@{
    ViewBag.Title = "Personnal Informations";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
@using (Html.BeginForm("Personnal", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.userId)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(aa=>aa.userId)
            @Html.LabelFor(model => model.dateOfBirth, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.dateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.dateOfBirth, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.street_1, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.street_1, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.street_1, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.street_2, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.street_2, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.street_2, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.street_1, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.street_1, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.street_1, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.postCode, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.postCode, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.postCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryModelID, htmlAttributes: new { @class = "label-control" })
            @Html.DropDownList("CountryModelID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CountryModelID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NationalityModelID, htmlAttributes: new { @class = "label-control" })

            @Html.DropDownList("NationalityModelID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NationalityModelID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.workPhone, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.workPhone, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.workPhone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.homePhone, htmlAttributes: new { @class = "label-control" })
            @Html.EditorFor(model => model.homePhone, new { htmlAttributes = new { @class = "form-control" } })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.homePhone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeGender, htmlAttributes: new { @class = "label-control" })
            @Html.EnumDropDownListFor(model => model.EmployeeGender, "Select a Gender", new { @class = "form-control" })
            <span class="material-input"></span>
            @Html.ValidationMessageFor(model => model.EmployeeGender, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaritalStatusModelID, htmlAttributes: new { @class = "label-control" })
            @Html.DropDownList("MaritalStatusModelID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaritalStatusModelID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


