﻿@model JqueryDTWithMVC.Models.ViewModels.EmployeeInfo.RegisterEmployeeHR


<div class="instruction">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("RegisterNewEmployeeHR", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="returnURL" id="returnURL" value="@Server.MapPath("~")/@ViewContext.RouteData.Values["controller"].ToString()/@ViewContext.RouteData.Values["action"].ToString()" />
                <div class="row">
                    <div class="col-md-3">
                        <br />
                        <br />
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-circle">
                                <img src="~/Content/SiteImage/logo.png" style="height:100px" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                            <div>
                                <span class="btn btn-round btn-rose btn-file">
                                    <span class="fileinput-new">Add Photo</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="file" id="file">
                                </span>
                                <br>
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "label-control" })
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="material-input"></span>
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "label-control" })
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="material-input"></span>
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "label-control" })
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="material-input"></span>
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.enrolledOn, htmlAttributes: new { @class = "label-control" })
                            @Html.EditorFor(model => model.enrolledOn, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            <span class="material-input"></span>
                            @Html.ValidationMessageFor(model => model.enrolledOn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" value="Create" class="btn btn-success" id="btnNewEmp" />
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>





