﻿@{
    ViewBag.Title = "تم اعادة تعيين كلمة السر الخاصة بك";

}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        تم اعادة تعيين كلمة السر لخاصة بك .. الرجاء @Html.ActionLink("اضغط هنا لتسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
