﻿@model JqueryDTWithMVC.Models.ApplicationUser

@{ string x = Model.Id + "_.jpg";}
<center>
    <p><img src="/Content/SiteImage/UsersImage/@x" class="img-responsive" style="width:45px;height:45px;border-radius:23px"> @Model.firstName @Model.lastName</p>
</center>

<ul class="nav nav-pills nav-pills-rose nav-stacked">
    <li>
        <a href="/Account/Employee?userId=@Model.Id">Employee</a>
    </li>
    <li class="active">
        <a href="/Account/Personnal?userId=@Model.Id">Personnal</a>
    </li>
    <li class="">
        <a href="/NotesModels/Index?userId=@Model.Id">Notes</a>
    </li>
    <li class="">
        <a href="">Employee</a>
    </li>
    <li class="">
        <a href="">Settings</a>
    </li>
    <li class="">
        <a href="">Options</a>
    </li>
    <li class="">
        <a href="">Employee</a>
    </li>
    <li class="">
        <a href="">Settings</a>
    </li>
    <li class="">
        <a href="">Options</a>
    </li>
    <li class="">
        <a href="">Employee</a>
    </li>
</ul>