﻿@model JqueryDTWithMVC.Models.DAL.Notes.NotesModel

@{
    ViewBag.Title = "Delete a Note";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h3>Do you want to delete this record? </h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notesString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notesString)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
