﻿@model JqueryDTWithMVC.Models.DAL.Notes.NotesModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notesString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notesString)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
</p>
