﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.Notes.NotesModel>

@{
    ViewBag.Title = "Notes List";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New Note", "Create", new { userId = ViewBag.userId }, new { @class = "btn btn-success" })
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.notesString)
            </th>
            <th style="width:20%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.notesString)
                </td>
                <td style="width:40%">
                    <a href="/NotesModels/Edit?id=@item.ID" class="btn btn-just-icon btn-simple btn-twitter">
                        <i class="fa fa-edit"></i>
                        <div class="ripple-container"></div>
                    </a> |
                    <a href="/NotesModels/Delete?id=@item.ID" class="btn btn-just-icon btn-simple btn-twitter">
                        <i class="fa fa-close"></i>
                        <div class="ripple-container"></div>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="margin-top:20px">
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
