﻿@model List<JqueryDTWithMVC.Models.DAL.Vacation.VacationsModel>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Main Page";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div ng-app="EmployeeStatusApp" ng-controller="EmployeeStatusController" id="empState">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">weekend</i>
                </div>
                <div class="card-content">
                    <p class="category">Hours Absents</p>
                    <h3 class="card-title">{{HoursAbsents}}</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="rose">
                    <i class="material-icons">equalizer</i>
                </div>
                <div class="card-content">
                    <p class="category">TimeOff Approved</p>
                    <h3 class="card-title">{{TimeOffApproved}}</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">store</i>
                </div>
                <div class="card-content">
                    <p class="category">TimeOff Waiting</p>
                    <h3 class="card-title">{{TimeOffWaiting}}</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="card-content">
                    <p class="category">TimeOff Rejected</p>
                    <h3 class="card-title">{{TimeOffRejected}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8">
            @* time off status  *@
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4 class="card-title">Pending time off requests</h4>
                    <p class="category">@System.DateTime.Now.ToString("yyyy-MM-dd")</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string textDes = item.hours > 8 ? TimeSpan.FromHours(item.hours.Value).TotalDays.ToString()
                                    + " days" : item.hours.ToString() + " hours";
                                <tr>
                                    <td>
                                        <img src="~/Content/SiteImage/logo.png" style="height:100px;width:100px;border-radius:50px" />
                                    </td>
                                    <td>
                                        <h4 style="margin-bottom:0px">@Html.DisplayFor(modelItem => item.user.EmployeeName)</h4>
                                        <p style="margin-bottom:0px;font-size:16px">
                                            @Html.DisplayFor(modelItem => item.vacType.vacationName) on @item.fromDate.ToString("yyyy-MM-dd"), @textDes
                                        </p>
                                        <p style="font-weight:700">@item.message</p>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "VacationsModels")?id=@item.ID">
                                            <i class="material-icons" style="font-size:35px">visibility</i>
                                        </a>
                                        |
                                        <a href="@Url.Action("Delete", "VacationsModels")?id=@item.ID">
                                            <i class="material-icons" style="font-size:35px">delete</i>
                                        </a>
                                        @if (User.IsInRole("مدير النظام") || User.IsInRole("الموارد البشرية"))
                                        {
                                            <a href="@Url.Action("ChangeStatus", "VacationsModels")?id=@item.ID&state=@JqueryDTWithMVC.Models.DAL.Vacation.ReqState.approved">
                                                | <i class="material-icons" style="font-size:35px">done</i>
                                            </a>

                                            <a href="@Url.Action("ChangeStatus", "VacationsModels")?id=@item.ID&state=@JqueryDTWithMVC.Models.DAL.Vacation.ReqState.declined">
                                                | <i class="material-icons" style="font-size:35px">clear</i>
                                            </a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @* upcoming time off *@
            <div class="card" data-count="10">
                <div class="card-header card-header-text" data-background-color="blue" data-header-animation="true" style="width:100%">
                    <h4 class="card-title">Upcoming time off</h4>
                </div>
                <div class="card-content">
                    <div class="card-actions">
                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" onclick="window.location.href = '/VacationsModels/UserTimeOff?userId=@ViewBag.userId'" data-original-title="History">
                            <i class="material-icons" style="font-size:30px !important">alarm</i>
                            <div class="ripple-container"></div>
                        </button>
                        <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Add TimeOff">
                            <i class="material-icons" style="font-size:30px !important">today</i>
                        </button>
                    </div>
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="upcomingtime in upcomingTimesList">
                                <td>
                                    <h4 style="margin-bottom:0px">{{upcomingtime.EmployeeName}}</h4>
                                    <p style="margin-bottom:0px;font-size:16px">
                                        {{upcomingtime.vacationName}} on {{upcomingtime.fromDate}}, {{upcomingtime.textDes}}
                                    </p>
                                    <p style="font-weight:700">{{upcomingtime.message}}</p>
                                </td>
                            <tr ng-show="upcomingTimesList.length <= 0 ">
                                <td>
                                    <h4>
                                        You have no upcoming time off
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @* recent activity *@
            <div class="card">
                <div class="card-header card-header-text" data-background-color="rose">
                    <h4 class="card-title">Recent Activity</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="recentActivity in recentActivityList ">
                                <td>
                                    <h4 style="margin-bottom:0px">{{recentActivity.user}}</h4>
                                    <p style="margin-bottom:0px;font-size:16px">
                                        {{recentActivity.eventDescription}}
                                    </p>
                                    <p style="font-weight:700">{{recentActivity.message}}</p>
                                </td>
                            <tr ng-show="recentActivityList.length <= 0 ">
                                <td>
                                    <h4>
                                        You have no activity!
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @* tasks *@
            <div class="card">
                <div class="card-header card-header-text" data-background-color="green">
                    <h4 class="card-title">Tasks</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>All caught up! </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            @* balance *@
            <div class="card">
                <div class="card-header card-header-text" data-background-color="green">
                    <h4 class="card-title">Your Balance</h4>
                </div>
                <div class="card-content">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="timeOffBalance in timeOffBalances" style="margin:20px 5px 20px 5px">
                                <td>
                                    <a style="color:darkblue;font-size:28px;font-weight:800">{{timeOffBalance.balance}}</a><a style="color:grey;font-size:28px;font-weight:800" ng-hide="timeOffBalance.typelimit == ''"> / {{timeOffBalance.typelimit}} </a>
                                    <p style="font-size:16px">{{timeOffBalance.timeOffTypeName}}</p>
                                    <p style="font-size:14px;color:slategrey;font-weight:800" ng-hide="timeOffBalance.typelimit == ''">{{timeOffBalance.message}} days left</p>
                                </td>
                            </tr>
                            <tr ng-show="timeOffBalances.length <= 0 ">
                                <td>
                                    <h4>
                                        You have no balance associated with your account! 
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @*  out of office *@
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4 class="card-title">Out Of Office Today</h4>
                    <p class="category"></p>
                </div>
                <div class="card-content">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="outOfOffice in outOfOfficeList">
                                <td>
                                    <img src="~/Content/SiteImage/logo.png" style="height:100px;width:100px;border-radius:50px" />
                                </td>
                                <td>
                                    <h4 style="margin-bottom:0px">{{outOfOffice.EmployeeName}}</h4>
                                    <p style="margin-bottom:0px;font-size:16px">
                                        {{outOfOffice.vacationName }} on {{outOfOffice.fromDate}}, {{outOfOffice.textDes}}
                                    </p>
                                    <p style="font-weight:700">{{outOfOffice.textDes}}</p>
                                </td>
                            </tr>
                            <tr ng-show="outOfOfficeList.length <= 0 ">
                                <td>
                                    <h4>
                                        No employees are out of the office today!
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @* birthday *@
            <div class="card">
                <div class="card-header card-header-text" data-background-color="blue">
                    <h4 class="card-title">Upcoming Birthdays</h4>
                </div>
                <div class="card-content">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="bdEmp in bdEmpList">
                                <td style="width:25%">
                                    <img src="~/Content/SiteImage/logo.png" style="height:100px;width:100px;border-radius:50px" />
                                </td>
                                <td>
                                    <h4 style="margin-bottom:0px">{{bdEmp.EmployeeName}}</h4>
                                    <p style="font-weight:700">{{bdEmp.textDes}}</p>
                                </td>
                            </tr>
                            <tr ng-show="bdEmpList.length <= 0 ">
                                <td>
                                    <h4>
                                        there is no upcoming birthdays!
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @* work anniverssary *@
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4 class="card-title">Work anniversaries </h4>
                </div>
                <div class="card-content">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="workann in workannList">
                                <td style="width:25%">
                                    <img src="~/Content/SiteImage/logo.png" style="height:100px;width:100px;border-radius:50px" />
                                </td>
                                <td>
                                    <h4 style="margin-bottom:0px">{{workann.EmployeeName}}</h4>
                                    <p style="font-weight:700">{{workann.textDes}}</p>
                                </td>
                            </tr>
                            <tr ng-show="workannList.length <= 0 ">
                                <td>
                                    <h4>
                                        there is no upcoming Work anniversaries!
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var pEmpStatus = angular.module('EmployeeStatusApp', ['angularMoment']);
        pEmpStatus.controller('EmployeeStatusController', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {

            $scope.HoursAbsents = 0;
            $scope.TimeOffApproved = 0;
            $scope.TimeOffWaiting = 0;
            $scope.TimeOffRejected = 0;

            $scope.timeOffBalances = [];
            $scope.upcomingTimesList = [];
            $scope.recentActivityList = [];
            $scope.bdEmpList = [];
            $scope.workannList = [];
            $scope.outOfOfficeList = [];

            $http.get('/Home/EmployeeStatus').then(function (recData) {
                $scope.HoursAbsents = recData.data.HoursAbsents;
                $scope.TimeOffApproved = recData.data.TimeOffApproved;
                $scope.TimeOffWaiting = recData.data.TimeOffWaiting;
                $scope.TimeOffRejected = recData.data.TimeOffRejected;
            });

            $http.get('/Home/EmployeeTimeOffStatus').then(function (recData) {
                if (recData.data.length > 0) {
                    $scope.timeOffBalances = recData.data;
                }
            });

            $http.get('/Home/SpecificEmployeeUpcomingTimeOff').then(function (recData) {
                if (recData.data.length > 0) {
                    $scope.upcomingTimesList = recData.data;
                }
            });


            $http.get('/Home/GetActivityForEmployee').then(function (recData) {
                if (recData.data.length > 0) {
                    $scope.recentActivityList = recData.data;
                }
            });

            $http.get('/Home/GetMissionsForToday').then(function (recData) {
                if (recData.data.length > 0) {
                    $scope.outOfOfficeList = recData.data;
                }
            });

            $http.get('/Home/GetBirthdays').then(function (recData) {
                if (recData.data.length > 0) {
                    $scope.bdEmpList = recData.data;
                }
            });

            $http.get('/Home/GetWorkAnniversaries').then(function (recData) {
                if (recData.data.length > 0) {
                    $scope.workannList = recData.data;
                }
            });

        }]);
        angular.bootstrap(document.getElementById("empState"), ['EmployeeStatusApp']);
    </script>
}





