﻿@using Microsoft.AspNet.Identity;

<div class="sidebar" data-active-color="blue" data-background-color="black"
      data-image="/Content/assets/img/sidebar-1.jpg"  ng-app="AppSideBar" ng-controller="SideBarController" id="sideBarValue">
    <!--
        Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
        Tip 2: you can also add an image using data-image tag
        Tip 3: you can change the color of the sidebar with data-background-color="white | black"
    -->
    <div class="logo">
        <a href="/Home/MainPage" class="simple-text">
            OWL HR
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="/Home/MainPage" class="simple-text">
            OH
        </a>
    </div>
    <div class="sidebar-wrapper ps-container ps-theme-default ps-active-y" data-ps-id="8372953d-c5c0-ce64-9c2a-fd8ff578e7bc">
        <div class="user">
            <div class="photo">
                @{ string xxx = @User.Identity.GetUserId() + "_.jpg?t="+ System.DateTime.Now;}
                <img src="~/Content/SiteImage/UsersImage/@xxx">
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    @User.Identity.Name
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="/Account/Employee">My Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="/Home/MainPage">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li ng-repeat="itemCat in CategoryList">
                <a ng-href="{{itemCat.ActionMethodName}}" ng-if="itemCat.currentUserRole == itemCat.AccessedByRole || itemCat.currentUserRole == ''">
                    <i class="{{itemCat.selectedIcon}}"></i>
                    <p style="font-size:13px">{{itemCat.DescriptionEng}}</p>
                </a>
            </li>
        </ul>
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 659px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 599px;"></div></div>
    </div>
    <div class="sidebar-background" style="background-image: url('/Content/assets/img/sidebar-3.jpg');"></div>
</div>
