﻿
@{
    ViewBag.Title = "EditLogo";
}

<h2 style="margin-top:1%;margin-right:1%">تعديل الشعار</h2>
@using (Html.BeginForm("EditLogo", "SettingsModels", FormMethod.Post ,new { enctype = "multipart/form-data" }))
{
    <div class="row" style="font-size:16px;font-weight:600;margin-top:3%">
        <div class="col-md-1">
            <label for="file" >صورة الشعار: </label>
        </div>
        <div class="col-md-2">
            <input type="file" name="Logo" accept="image/x-png, image/gif, image/jpeg" id="Logo" />
        </div>
        <div class="col-md-2">
            <input type="submit" class="form-control" value="ارسال الشعار" />
        </div>
    </div>
}
