* {
}

.contain {
    font-family: DejaVuSansCondensed;
    width: 100%;
    background-color: #ffffff;
}

.table-contain {
    width: 100%;
}

.leftPanel {
    float: left;
    padding-bottom: 10px;
    width: 320px;
}

.rightPanel {
    width: 320px;
    float: right;
}

.Main-Name {
    font-size: 20px;
    color: #9f2b1e;
}

.clear {
    clear: both;
}

.Option-label {
}

.For {
    background-color: rgba(0, 237, 199, 0.35);
    margin-bottom: 2px;
}

.img {
    width: 180px;
    height: 160px;
}

.Invoice-label {
    margin: 0;
    color: #9f2b1e;
}
.invoice-label-r {
    margin: 0;
    color: #9f2b1e;
}

.Invoice-No {
    color: red;
}

.label {
    font-size: 20px;
    margin: 10px;
    color: #9f2b1e;
}
.label-r {
    font-size: 15px;
    margin: 2px;
    color: #9f2b1e;
}

.items {

}
th{
    font-size: 20px;
    font-weight: lighter;
}
td{
    font-size: 18px;
    font-weight: lighter;
}
table{
    border-collapse:collapse;
}
.items-table {
    cursor: default;
    font-family: DejaVuSansCondensed;
}
table.return-table {
    cursor: default;
    font-family: DejaVuSansCondensed;
    margin-bottom: 40px;
}
table.return-table .th1,table.items-table .th1{
    font-size: 20px;
    background-color: #00cba8;
    color:white;
    border: 1px solid #ffffff;
    height: 2px;
}
table.return-table .th2,table.items-table .th2{
    font-size: 20px;
    background-color: #90cb8f;
    color:white;
    border: 1px solid #ffffff;
    height: 2px;
}
table.return-table .d1,table.items-table .d1{
    background-color: rgba(0, 203, 168, 0.34);
}
table.return-table .d2,table.items-table .d2{
    background-color: rgba(144, 203, 143, 0.42);
}


.item-counter {
    width: 55px;
}

.item-name {
    width: 250px;
    display: none;
}

.item-description {
    width: 300px;
}
.item-description-r {
    width: 200px;
}
.item-price, .item-price, .item-quantity, .item-unitcost {
    width: 100px;
}

.item-date {
    width: 220px;
}

td {
    border: 1px solid #ffffff;
    font-size: 19px;
    text-align: center;
}

.footer {
    font-family: DejaVuSansCondensed;
    position: relative;
    top: 10px;
}

.MainTotal {
    width: 100%;

}
table.totalPayTable{

}
table.totalPayTable .labelT{
    background-color: #00cba8;
}
table.totalPayTable .labelP{
    background-color: rgba(0, 203, 168, 0.34);
}
.totalPay {
    float: right;
    width: 280px;
    margin: 10px 0;
}
.totalPay-ar {
    float: left;
    width: 200px;
    margin: 10px 0;
}