@import "font/fonts.css";

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

* {
    font-family: 'shahidRegular', 'Conv_segoeui_3';
}
.DTTT{
    float: left;
}
body {
    padding-top: 50px;
    margin: 0;
}
.paddingTop{
    padding-top: 55px;
}
.container .btn_li {
    cursor: pointer;
    /*width: 150px;*/
}

.container .main-icon {
    cursor: default;
    height: 70px;
   /*  width: 200px; */
}

.container .main-icon img {
    width: 50px;
}

.Main_frm table {
    margin: 0 0 20px;
}

.Main_frm table tr td {
    padding-top: 2px;
}

.Main_frm table tr td:first-child {
    cursor: default;
    padding-left: 2px;
    text-align: left;
    /*width: 12%;*/
}

.Main_frm table tr td select {
    text-align: center;
}

.Main_frm table tr td input[type=text] {
    width: 100%;
}

.Main_frm table tr td input::-webkit-input-placeholder {
    text-align: right;
}

.Main_frm table tr td input:-moz-placeholder {
    text-align: right;
}

.Main_frm table tr td input::-moz-placeholder {
    text-align: right;
}

.Main_frm table tr td input:-ms-input-placeholder {
    text-align: right;
}

.Main_frm #o_agent {
    display: none;
}
.Main_frm #o_store,#o_items {
    display: none;
}

.Main_frm #c_per {
    margin-left: 4px;
    margin-right: 10px;
}
.Main_frm .cType{
    display: none;
}
.input-group-addon2 {
    padding: 2px;
    width: 50px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.not-allowed {
    cursor: not-allowed;
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;

}

.table-condensed thead tr:nth-child(2),
.table-condensed tbody {
    /*display: none*/
}

.daterangepicker select.yearselect {
    width: 55%;
}

.no-resize {
    resize: none;
}

#MainSection table tr td input[type=checkbox] {
    margin-left: 5px;
}

#MainSection table table thead tr th {
    text-align: right;
}

#MainSection .btn_c .pay_full {
    font-size: 20px;
    margin-right: 10px;
}

#MainSection .btn_c .table-1 {
    margin-top: 5px;
}

#MainSection .btn_c .table-1 tr td:first-child {
    padding-left: 5px;
}

#MainSection .btn_c .row .margin-top {
    margin-top: 5px;
}
.time{
    direction: ltr;
}
@media screen and (min-width: 500px) {
    #MainSection {
        /*width: 80%;*/
    }

    #MainSection .btn_c {
        margin-bottom: 10px;
    }
    .dashBoardSelect {
        padding-top: 25px;
    }
}

#MainSection {
    margin: 10px auto 10px auto;
}

#MainSection #pa_date {
    background-color: white;
}

.table tr td:first-child {
    /*width: 75px;*/
    /*text-align: left;*/
}
.table tr .desc{
    width:260px;
}
.row_dept {
    background-color: rgba(188, 143, 143, 0.37);
}

.myTable {
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    border-collapse: separate;
    display: table;
    width: 100%;
}

.myTable tr {
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 10px;
}

.myTable tr:first-child {
    border-radius: 4px 4px 0 0;
}

.myTable tr:last-child {
    border-radius: 0 0 4px 4px;
}

.myTable tr td {
    margin: 0 2px;
    width: 70%;
    display: initial;
}

.myTable tr td:first-child {
    width: 94px;
    text-align: left;
    padding-left: 5px;
}

.myTable tr td input::-moz-placeholder, .myTable tr td input[type=text] {
    text-align: center;
    width: 100%;
}

.Main_UserMessages {

}

.Main_UserMessages .btnz {
    margin-left: 5px;
}

.Main_UserMessages .btnz span {
    margin-left: 5px;
}

.Main_UserMessages .tab-content {
    padding-top: 5px;
}

.userMessage_frm #userMessage_body, #userReplayMessage_body {
    resize: none;
    height: 150px;
    background-color: white;
}

button[type=submit], button[type=button] {
    margin-left: 4px;
}

table .Pr-veryHigh {
    background-color: #f2dede;
    border-radius: 5px;
    color: #a94442;
    padding: 0 10px;
}

table .Pr-High {
    background-color: #d9edf7;
    color: #31708f;
    border-radius: 5px;
    padding: 0 10px;
}

table .Pr-Mid {
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 5px;
    padding: 0 10px;
}

table .Pr-Normal {
    background-color: rgba(223, 243, 253, 0.76);
    color: #45a9d1;
    border-radius: 5px;
    padding: 0 10px;
}

#profile_thumbs {
    margin-top: 5px;
    margin-bottom: 0px;
}

#profile_thumbs #profile_thumbsImage {
    height: 180px;
    /*width: 100%;*/
    display: block;
    border-radius: 100px;
    transition: opacity 0.4s ease 0s;
    opacity: 0.8;
}

#profile_thumbs #profile_thumbsImage:hover {
    opacity: 1;
}

#profile_thumbs:hover > #profile_thumbsSelect {
    opacity: 1;
}

#profile_thumbsSelect {
    opacity: 0;
    transition: opacity 0.4s ease 0s;
    cursor: pointer;
    font-size: 18px;
    color: #337ab7;
    position: absolute;
    right: 35px;
    text-align: center;
    top: 38px;
}

#profile_thumbsInput {
    display: none;
}

.span {
    font-size: 12px;
    color: #c9c9c9;
    cursor: default;
}

.dataTable tbody tr td img {
    height: 60px;
    border-radius: 40px;
    opacity: 0.8;
    transition: opacity 0.4s ease 0s;
}

.dataTable tbody tr td img:hover {
    opacity: 1;
}

#view_coLogo, #Main_Logo {
    border-radius: 40px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    opacity: 0.8;
    transition: opacity 0.4s ease 0s;
}

#view_coLogo:hover, #Main_Logo:hover {
    opacity: 1;
}

#site_coLogo {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 60px;
    width: 60px;
    opacity: 0.8;
    transition: opacity 0.4s ease 0s;
}

#site_coRLogo {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 230px;
    width: 217px;
    opacity: 0.8;
    transition: opacity 0.4s ease 0s;
}

#site_coRLogo:hover, #site_coLogo:hover {
    opacity: 1;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.user-login{
    padding-top: 0px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-signin select {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#outgoing_agent, #incoming_agent, #userMessage_to, #userMessage_Priority {
    /*display: none;*/
    /*width: 100%;*/
}

table.table-striped tbody tr.selected {
    background-color: #B0BED9;
}
.dashBoardLabel {
    float: right;
}
.dashBoardSelect {
    float: left;
    padding-top: 25px;
}

.btn_c button{
    margin-right: 2px;
}

.userBtn{
    margin: 0 auto;
    max-width: 330px;
    text-align: center;
}
#feedback {
    position: fixed;
    bottom: 5px;
    left: 5px;
}
.feedBack_btn{
    direction: ltr;
}
#feeds .feed_date{
    float: left;
    font-size: 10px;
}
.noty_text {
    text-align: right;
}
.installTable tr td.labelInstall {
    text-align: left;
}
.Managers{
    /*padding-left: 5px;*/
}
.Managers .myTable tr td:first-child{
    /*width:80px;*/
    /*display: inline-block;*/
}