
.main {
    /*padding: 20px;*/
}
.navbar-nav li:nth-child(5){
	display:none;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.main .last10 {
    padding-bottom: 20px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.img-responsive1 {
    border-radius: 50%;
    background-color: #434A52;
    display: inline-flex;
    margin-bottom: 5px;
}

.img-responsive2 {
    border-radius: 50%;
    background-color: #0D8FDB;
    display: inline-flex;
    margin-bottom: 5px;
}

.img-responsive3 {
    border-radius: 50%;
    background-color: #DB3939;
    display: inline-flex;
    margin-bottom: 5px;
}

.img-responsive4 {
    border-radius: 50%;
    background-color: #3A9782;
    display: inline-flex;
    margin-bottom: 5px;
}

.rep {
    padding-top: 65px;
    height: 200px;
    width: 200px;
}

.rep * {
    color: white;
}

#feedBackMain .panel-body {
    padding: 16px;
}

#feedBackMain #addFeedBack #feedback_feed {
    resize: none;
    height: 200px;
}

#feedBackMain #addFeedBack {
    display: none;
}

#notActive {
    width: 100%;
}

#notActive #nLicense {
    resize: none;
    margin-bottom: 10px;
    height: 120px;
}
#notActive #kLicense {
    resize: none;
    margin-bottom: 10px;
    height: 80px;

}
#notActive #eLicense {
    margin-bottom: 10px;
}
#updateerror{
    color:red;
}

.loginPanel {
    padding-top: 25px;
}

.loginPanel #agent_lang,.loginPanel #agent_password,.loginPanel #agent_user,.loginPanel #manager_lang,.loginPanel #manager_password,.loginPanel #manager_user {
    text-align: center;
}