﻿@model JqueryDTWithMVC.Models.DAL.Assests.AssestsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>AssestsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.assetsCatgeory.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assetsCatgeory.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assestValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assestValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assestDesription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assestDesription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateRetunred)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateRetunred)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
</p>
