﻿@model JqueryDTWithMVC.Models.DAL.CheckPointLog.CheckPointLogModels

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CheckPointLogModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.branch.branch_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branch.branch_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckPointSummeryModelObj.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckPointSummeryModelObj.ApplicationUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkType.CheckName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkType.CheckName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckTimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckTimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckTimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckTimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
