﻿@model JqueryDTWithMVC.Models.DAL.CheckPointLog.CheckPointLogModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckPointLogModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.branch.branch_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branch.branch_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckPointSummeryModelObj.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckPointSummeryModelObj.ApplicationUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkType.CheckName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkType.CheckName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckTimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckTimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckTimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckTimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
