﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.CheckPointLog.CheckPointLogModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.branch.branch_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckPointSummeryModelObj.ApplicationUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkType.CheckName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckTimeIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckTimeOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.branch.branch_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckPointSummeryModelObj.ApplicationUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkType.CheckName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckTimeIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckTimeOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
