﻿@model JqueryDTWithMVC.Models.DAL.VacationType.VacationTypeModel

@{
    ViewBag.Title = "Delete TimeOff Policy";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">@ViewBag.Title</h4>
        <p class="category">Fill the Following Informations</p>
    </div>
    <div class="card-content">
        <h3>Do you want to delete the following TimeOff Policy?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.vacationName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vacationName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.timeOff_Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.timeOff_Id)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
                </div>
            }
        </div>

    </div>
</div>


