﻿@model JqueryDTWithMVC.Models.DAL.VacationType.VacationTypeModel
@{
    ViewBag.Title = "Vacation Type Details";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">@ViewBag.Title</h4>
    </div>
    <div class="card-content">
        <div>
            <h4>VacationTypeModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.vacationName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vacationName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.timeOff_Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.timeOff_Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.balance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.balance)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.policyResetEvery)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.policyResetEvery)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>


