﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.VacationType.VacationTypeModel>
@{
    ViewBag.Title = "TimeOff Policy List";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">@ViewBag.Title</h4>
    </div>
    <div class="card-content">
        <p>
            @Html.ActionLink("Create New TimeOff Policy", "Create", null, new { @class = "btn btn-success" })
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.vacationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.policyResetEvery)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.balance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.timeOff_Id)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.vacationName)
                            </td>
                            <th>
                                @Html.DisplayFor(model => item.policyResetEvery)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.balance)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.timeOff_Id)
                            </td>
                            <td>
                                @Html.ActionLink("تعديل", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                                @Html.ActionLink("تفاصيل", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("مسح", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
            </tbody>
        </table>

    </div>
</div>
