﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div>
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                        <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                        <i class="material-icons visible-on-sidebar-mini">view_list</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/MainPage">HR DashBoard</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons" style="font-size:30px">plus_one</i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-toggle="modal" id="callNoticeModel" onclick="$('#noticeModal').modal({'backdrop': 'static'});">Add TimeOff</a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" id="callDocumentModel" onclick="$('#documentModal').modal({ 'backdrop': 'static' });">Add a Document</a>
                                </li>
                                @if (!User.IsInRole("موظف"))
                                {
                                    <li>
                                        <a href="#" data-toggle="modal" id="callEmployeeModel" onclick="$('#newEmployeeLabel').modal({ 'backdrop': 'static' });">Add Employee</a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons" style="font-size:30px">notifications</i>
                                <span class="notification">2</span>
                                <p class="hidden-lg hidden-md">Notifications</p>
                            </a>
                            <ul class="dropdown-menu" id="dropdownMenu1"></ul>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons" style="font-size:30px">person</i>
                                <p class="hidden-lg hidden-md">Profile</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Account/Employee">Profile</a></li>
                                <div style="display:none">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutFormHR", }))
                                    {
                                        @Html.AntiForgeryToken()
                                    }
                                </div>
                                <li><a href="javascript:document.getElementById('logoutFormHR').submit()" id="getLogout" class="btn_li">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group  is-empty">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i><div class="ripple-container"></div>
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </nav>
    //  }
}
    @*else
        {
            <li>@Html.ActionLink("تسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }*@