﻿<!DOCTYPE html>
<html dir="rtl">
<head lang="ar">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title dir="rtl"></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/css/tameer.ico">
    <!--bootstrap stylesheet-->
    <link rel="stylesheet" type="text/css" href="/Content/js/bootstrap/css/bootstrap.rtl.css" />
    <link rel="stylesheet" type="text/css" href="/Content/js/bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/stylesheet.rtl.css" />

    <link rel="stylesheet" type="text/css" media="all" href="/Content/js/dp/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="/Content/js/bootstrap/bootstrap-switch/css/bootstrap3/bootstrap-switch.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/Content/css/dashboard.css" />
    <!--/bootstrap stylesheet-->
    <!--Animate stylesheet-->
    <link rel="stylesheet" type="text/css" href="/Content/css/animate.css" />
    <!--/Animate stylesheet-->
    <!--dataTables stylesheet-->

    <link rel="stylesheet" type="text/css" href="/Content/js/datatable/css/dataTables.tableTools.css" />
    <link rel="stylesheet" type="text/css" href="/Content/js/datatable/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/js/datatable/css/buttons.dataTables.min.css">
    <!--/dataTables stylesheet-->
    <!--Icon stylesheet-->
    <link rel="stylesheet" type="text/css" href="/Content/css/cal-iconz.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="css/cal-iconz-ie7.css">
    <![endif]-->
    <!--/Icon stylesheet-->
    <link rel="stylesheet" type="text/css" href="/Content/js/select/css/bootstrap-select.css" />

    <script type="text/javascript">
        var manager_full = 1; var manager_addemp = 1; var manager_edtemp = 1; var manager_viwemp = 1; var manager_syncemp = 1; var manager_delemp = 1; var manager_addbr = 1; var manager_edtbr = 1; var manager_viwbr = 1; var manager_delbr = 1; var manager_adddep = 1; var manager_edtdep = 1; var manager_deldep = 1; var manager_viwdep = 1; var manager_addpoint = 1; var manager_edtpoint = 1; var manager_calpoint = 1; var manager_syncpoint = 1; var manager_delpoint = 1; var manager_imppoint = 1; var manager_viwpoint = 1; var manager_viwtime = 1; var manager_viwreport = 1; var manager_addman = 1; var manager_edtman = 1; var manager_edtmanpriv = 1; var manager_delman = 1; var manager_viwman = 1; var manager_deldevicepoint = 1;
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand main-icon" style="cursor:pointer;" onclick="window.location.href = '/Home'">
                    <span>
                        <img id="Main_Logo" style="width:50px !important;height:50px !important" src="" />
                    </span>
                    <span id="webTitle"></span>

                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Index">الرئيسية</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="caret"></span>الموظفين
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="AddEmp" class="btn_li">أضافة موظف</a></li>
                                <li><a id="AllEmp" class="btn_li">عرض الموظفين</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="caret"></span>الاقسام
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="AddDepartments" class="btn_li">أضافة قسم</a></li>
                                <li><a id="ListDepartments" class="btn_li">عرض الاقسام</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="caret"></span>المقرات
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="AddBranch" class="btn_li">أضافة مقر</a></li>
                                <li><a id="ListBranches" class="btn_li">عرض المقرات</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="caret"></span>الاجازات
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="ListVacations" class="btn_li">عرض الاجازات</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="caret"></span>النقاط
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="AddPoints" class="btn_li">أضافة نقاط</a></li>
                                <li><a id="ImportPoints" class="btn_li">أستيراد نقاط</a></li>
                                <li><a id="ViewPoints" class="btn_li">عرض كل النقاط</a></li>
                                <li><a id="ViewTimes" class="btn_li">عرض كل الاوقات</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="caret"></span>التقارير
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="ViewReports" class="btn_li">عرض التقارير</a></li>
                                <li><a id="LogSystem" class="btn_li">سجل الحركة</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="caret"></span>الصلاحيات
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/RolesViewModels/Index" class="btn_li">ادارة  الصلاحيات</a></li>
                                <li><a href="/AccessControlModels/GetTree" class="btn_li">ادارة اذونات الصلاحيات</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="caret"></span>الاعدادت
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="ChangePassword" class="btn_li">تغير رمز الدخول</a></li>
                                <li><a id="MainConfigure" class="btn_li">الاعدادت العامة</a></li>
                                <li><a href="/SettingsModels/EditLogo" class="btn_li">تغيير الشعار</a></li>
                                <li><a id="EmployeeSchedule" class="btn_li">جداول الدوام</a></li>
                                <li><a id="EmployeeAbsentReason" class="btn_li">أسباب الغياب</a></li>
                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="javascript:document.getElementById('logoutForm').submit()" id="getLogout" class="btn_li">تسجيل خروج</a></li>
                        }
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            }
            
        </div>
    </nav>
    <div class="container-fluid" id="container" style="margin-right:20px;margin-top:20px">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row paddingTop">
                <div class="col-md-6">

                    <table class="myTable">
                        <tr>
                            <td><span>مرحبا , </span>@User.Identity.Name</td>
                        </tr>
                    </table>
                </div>
            </div>
        }

        @RenderBody()
    </div>
    
    <footer style="margin-right:50px;margin-top:20px;margin-bottom:30px;" dir="auto" id="footerValue">
        <hr />
       جميع الحقوق محفوظة 
    </footer>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    @*<script src="~/Scripts/jquery-3.1.1.intellisense.js"></script>*@
    <script type="text/javascript" src="/Content/js/moment.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.form.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.input-ip-address-control.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap/bootstrap-switch/js/bootstrap-switch.js"></script>
    <script type="text/javascript" language="javascript" src="/Content/js/datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/Content/js/datatable/js/dataTables.tableTools.js"></script>
    <script type="text/javascript" language="javascript" src="/Content/js/datatable/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" language="javascript" src="/Content/js/datatable/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="/Content/js/datatable/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="/Content/js/datatable/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/Content/js/noty/packaged/jquery.noty.packaged.min.js"></script>

    <!--[if lt IE 9]>
    <script src="/Content/js/html5shiv.min.js"></script>
    <script src="/Content/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/Content/js/bootstrap-filestyle.js"></script>
    <script type="text/javascript" src="/Content/js/select/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="/Content/js/dp/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/js/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/js/datatable/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/Content/js/login.js"></script>
    <script type="text/javascript" src="/Content/js/attendace.js"></script>
    <script>
        $.ajax({
            method: 'POST',
            url: '/SettingsModels/Index',
            data: {
                action: 'getSettings'
            }
        }).done(function (data) {
            console.log(data);
            $("#Main_Logo").attr("src", "/Content/SiteImage/" + data.LOGO);
            document.getElementById('webTitle').innerHTML = data.SITENAME;
            $('#footerValue').append('ل' +  data.SITENAME);
            $('#footerValue').append('&copy; @System.DateTime.Now.Year');
           
            $("#webTitle").attr("src", "/Content/SiteImage/" + data.LOGO + "?ver=" + Math.random());
            document.title += data.SITENAME + ' @ViewBag.Title';
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>