﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/Content/assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Welcome to OWL-HR - @ViewBag.Title</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="/Content/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="/Content/assets/css/material-dashboard.css" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/Content/assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <style>
        * {
            font-family: 'Century Gothic', 'Conv_segoeui_3';
        }

        dt {
            font-weight: 700;
            font-size: 16px;
            padding-bottom: 10px;
        }

        dd {
            font-size: 16px;
            padding-bottom: 10px;
        }

        .title {
            color: white;
        }
    </style>
</head>
<body>
    @{
        string controller = ViewContext.RouteData.Values["controller"].ToString();
        string action = ViewContext.RouteData.Values["action"].ToString();
    }

    <div class="wrapper">
        @{Html.RenderAction("SideBarItems", "Home");}
        <div class="main-panel" style="color:dodgerblue !important">
            @Html.Partial("_HRNavBar")
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-3">
                                    @{ string x = ViewBag.userId + "_.jpg";}
                                    <center>
                                        <p><img src="/Content/SiteImage/UsersImage/@x" class="img-responsive" style="width:45px;height:45px;border-radius:23px"></p>
                                    </center>

                                    <ul class="nav nav-pills nav-pills-rose nav-stacked">
                                        
                                        <li id="Account_Employee">
                                            <a href="/Account/Employee?userId=@ViewBag.userId">Employee</a>
                                        </li>
                                        <li id="Account_Personnal">
                                            <a href="/Account/Personnal?userId=@ViewBag.userId">Personnal</a>
                                        </li>
                                        <li class="" id="NotesModels_Index">
                                            <a href="/NotesModels/Index?userId=@ViewBag.userId">Notes</a>
                                        </li>
                                        <li class="" id="DocumentsModels_UserDocuments">
                                            <a href="/DocumentsModels/UserDocuments?userId=@ViewBag.userId">Documents</a>
                                        </li>
                                        <li class="" id="EmergenceyContactModels_Index">
                                            <a href="/EmergenceyContactModels/Index?userId=@ViewBag.userId">Emergencey Contact</a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:;">Assests (Future)</a>
                                        </li>
                                        <li class="" id="VacationsModels_UserTimeOff">
                                            <a href="/VacationsModels/UserTimeOff?userId=@ViewBag.userId">Time Off</a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:;">Reports (Future)</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-9" style="margin-top:40px">
                                    @RenderBody()
                                    @{ 
                                        string t = ViewContext.RouteData.Values["controller"].ToString() + "_" + ViewContext.RouteData.Values["action"].ToString();
                                    }
                                    <script>
                                        var d = document.getElementById("@t").className = "active";
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="row" id="infoForLayout">
                <div class="col-md-8 col-md-offset-2">
                    <div class="nav-center">
                        <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
                            <li class="">
                                <a href="#description-1" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="material-icons">info</i> Description
                                </a>
                            </li>
                            <li class="">
                                <a href="#schedule-1" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="material-icons">location_on</i> Location
                                </a>
                            </li>
                            <li class="">
                                <a href="#tasks-1" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="material-icons">gavel</i> Legal Info
                                </a>
                            </li>
                            <li class="active">
                                <a href="#tasks-2" role="tab" data-toggle="tab" aria-expanded="true">
                                    <i class="material-icons">help_outline</i> Help Center
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="description-1">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Description about product</h4>
                                    <p class="category">
                                        More information here
                                    </p>
                                </div>
                                <div class="card-content">
                                    Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                    <br>
                                    <br> Dramatically visualize customer directed convergence without revolutionary ROI.
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="schedule-1">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Location of the product</h4>
                                    <p class="category">
                                        More information here
                                    </p>
                                </div>
                                <div class="card-content">
                                    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                    <br>
                                    <br> Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tasks-1">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Legal info of the product</h4>
                                    <p class="category">
                                        More information here
                                    </p>
                                </div>
                                <div class="card-content">
                                    Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                    <br>
                                    <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="tasks-2">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Help center</h4>
                                    <p class="category">
                                        More information here
                                    </p>
                                </div>
                                <div class="card-content">
                                    From the seamless transition of glass and metal to the streamlined profile, every detail was carefully considered to enhance your experience. So while its display is larger, the phone feels just right.
                                    <br>
                                    <br> Another Text. The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" id="footerForLayout">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="javascript;">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="javascript;">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="javascript;">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="javascript;">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="javascript;">Al-Tameer For Systems Solutions</a>, made with love for a better life
                    </p>
                </div>
            </footer>
        </div>
    </div>

    <div style="display:none">
        <legend>Sliders</legend>
        <div id="sliderRegular" class="slider"></div>
        <div id="sliderDouble" class="slider slider-info"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart" data-count="2">
                    <div class="card-header" data-background-color="rose" data-header-animation="true">
                        <div class="ct-chart" id="websiteViewsChart"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-bar" style="width: 100%; height: 100%;"><g class="ct-grids"><line y1="120" y2="120" x1="40" x2="350" class="ct-grid ct-vertical"></line><line y1="96" y2="96" x1="40" x2="350" class="ct-grid ct-vertical"></line><line y1="72" y2="72" x1="40" x2="350" class="ct-grid ct-vertical"></line><line y1="48" y2="48" x1="40" x2="350" class="ct-grid ct-vertical"></line><line y1="24" y2="24" x1="40" x2="350" class="ct-grid ct-vertical"></line><line y1="0" y2="0" x1="40" x2="350" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-a"><line x1="52.916666666666664" x2="52.916666666666664" y1="120" y2="54.959999999999994" class="ct-bar" value="542" opacity="1"></line><line x1="78.75" x2="78.75" y1="120" y2="66.84" class="ct-bar" value="443" opacity="1"></line><line x1="104.58333333333333" x2="104.58333333333333" y1="120" y2="81.6" class="ct-bar" value="320" opacity="1"></line><line x1="130.41666666666666" x2="130.41666666666666" y1="120" y2="26.400000000000006" class="ct-bar" value="780" opacity="1"></line><line x1="156.24999999999997" x2="156.24999999999997" y1="120" y2="53.64" class="ct-bar" value="553" opacity="1"></line><line x1="182.08333333333331" x2="182.08333333333331" y1="120" y2="65.64" class="ct-bar" value="453" opacity="1"></line><line x1="207.91666666666666" x2="207.91666666666666" y1="120" y2="80.88" class="ct-bar" value="326" opacity="1"></line><line x1="233.74999999999997" x2="233.74999999999997" y1="120" y2="67.92" class="ct-bar" value="434" opacity="1"></line><line x1="259.5833333333333" x2="259.5833333333333" y1="120" y2="51.84" class="ct-bar" value="568" opacity="1"></line><line x1="285.4166666666667" x2="285.4166666666667" y1="120" y2="46.8" class="ct-bar" value="610" opacity="1"></line><line x1="311.25" x2="311.25" y1="120" y2="29.28" class="ct-bar" value="756" opacity="1"></line><line x1="337.0833333333333" x2="337.0833333333333" y1="120" y2="12.599999999999994" class="ct-bar" value="895" opacity="1"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="40" y="125" width="25.833333333333332" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">J</span></foreignObject><foreignObject style="overflow: visible;" x="65.83333333333333" y="125" width="25.833333333333332" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">F</span></foreignObject><foreignObject style="overflow: visible;" x="91.66666666666666" y="125" width="25.833333333333336" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">M</span></foreignObject><foreignObject style="overflow: visible;" x="117.5" y="125" width="25.83333333333333" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">A</span></foreignObject><foreignObject style="overflow: visible;" x="143.33333333333331" y="125" width="25.83333333333333" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">M</span></foreignObject><foreignObject style="overflow: visible;" x="169.16666666666666" y="125" width="25.833333333333343" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">J</span></foreignObject><foreignObject style="overflow: visible;" x="195" y="125" width="25.833333333333314" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">J</span></foreignObject><foreignObject style="overflow: visible;" x="220.83333333333331" y="125" width="25.833333333333343" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">A</span></foreignObject><foreignObject style="overflow: visible;" x="246.66666666666666" y="125" width="25.833333333333343" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">S</span></foreignObject><foreignObject style="overflow: visible;" x="272.5" y="125" width="25.833333333333314" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">O</span></foreignObject><foreignObject style="overflow: visible;" x="298.3333333333333" y="125" width="25.833333333333314" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 26px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">N</span></foreignObject><foreignObject style="overflow: visible;" x="324.16666666666663" y="125" width="30" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 30px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">D</span></foreignObject><foreignObject style="overflow: visible;" y="96" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">0</span></foreignObject><foreignObject style="overflow: visible;" y="72" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">200</span></foreignObject><foreignObject style="overflow: visible;" y="48" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">400</span></foreignObject><foreignObject style="overflow: visible;" y="24" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">600</span></foreignObject><foreignObject style="overflow: visible;" y="0" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">800</span></foreignObject><foreignObject style="overflow: visible;" y="-30" x="0" height="30" width="30"><span class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">1000</span></foreignObject></g></svg></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Website Views</h4>
                        <p class="category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart" data-count="4">
                    <div class="card-header" data-background-color="green" data-header-animation="true">
                        <div class="ct-chart" id="dailySalesChart"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;"><g class="ct-grids"><line x1="40" x2="40" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="85" x2="85" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="130" x2="130" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="175" x2="175" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="220" x2="220" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="265" x2="265" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="310" x2="310" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line y1="120" y2="120" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="96" y2="96" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="72" y2="72" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="48" y2="48" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="24" y2="24" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="0" y2="0" x1="40" x2="355" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-a"><path d="M 40 91.2 C 85 79.2 85 79.2 85 79.2 C 130 103.2 130 103.2 130 103.2 C 175 79.2 175 79.2 175 79.2 C 220 64.8 220 64.8 220 64.8 C 265 76.8 265 76.8 265 76.8 C 310 28.8 310 28.8 310 28.8" class="ct-line"></path><line x1="40" y1="91.2" x2="40.01" y2="91.2" class="ct-point" value="12" opacity="1"></line><line x1="85" y1="79.2" x2="85.01" y2="79.2" class="ct-point" value="17" opacity="1"></line><line x1="130" y1="103.2" x2="130.01" y2="103.2" class="ct-point" value="7" opacity="1"></line><line x1="175" y1="79.2" x2="175.01" y2="79.2" class="ct-point" value="17" opacity="1"></line><line x1="220" y1="64.8" x2="220.01" y2="64.8" class="ct-point" value="23" opacity="1"></line><line x1="265" y1="76.8" x2="265.01" y2="76.8" class="ct-point" value="18" opacity="1"></line><line x1="310" y1="28.799999999999997" x2="310.01" y2="28.799999999999997" class="ct-point" value="38" opacity="1"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="40" y="125" width="45" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 45px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">M</span></foreignObject><foreignObject style="overflow: visible;" x="85" y="125" width="45" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 45px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">T</span></foreignObject><foreignObject style="overflow: visible;" x="130" y="125" width="45" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 45px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">W</span></foreignObject><foreignObject style="overflow: visible;" x="175" y="125" width="45" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 45px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">T</span></foreignObject><foreignObject style="overflow: visible;" x="220" y="125" width="45" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 45px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">F</span></foreignObject><foreignObject style="overflow: visible;" x="265" y="125" width="45" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 45px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">S</span></foreignObject><foreignObject style="overflow: visible;" x="310" y="125" width="45" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 45px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">S</span></foreignObject><foreignObject style="overflow: visible;" y="96" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">0</span></foreignObject><foreignObject style="overflow: visible;" y="72" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">10</span></foreignObject><foreignObject style="overflow: visible;" y="48" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">20</span></foreignObject><foreignObject style="overflow: visible;" y="24" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">30</span></foreignObject><foreignObject style="overflow: visible;" y="0" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">40</span></foreignObject><foreignObject style="overflow: visible;" y="-30" x="0" height="30" width="30"><span class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">50</span></foreignObject></g></svg></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart" data-count="0">
                    <div class="card-header" data-background-color="blue" data-header-animation="true">
                        <div class="ct-chart" id="completedTasksChart"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;"><g class="ct-grids"><line x1="40" x2="40" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="79.375" x2="79.375" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="118.75" x2="118.75" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="158.125" x2="158.125" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="197.5" x2="197.5" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="236.875" x2="236.875" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="276.25" x2="276.25" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="315.625" x2="315.625" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line y1="120" y2="120" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="96" y2="96" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="72" y2="72" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="48" y2="48" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="24" y2="24" x1="40" x2="355" class="ct-grid ct-vertical"></line><line y1="0" y2="0" x1="40" x2="355" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-a"><path d="M 40 92.4 C 79.375 30 79.375 30 79.375 30 C 118.75 66 118.75 66 118.75 66 C 158.125 84 158.125 84 158.125 84 C 197.5 86.4 197.5 86.4 197.5 86.4 C 236.875 91.2 236.875 91.2 236.875 91.2 C 276.25 96 276.25 96 276.25 96 C 315.625 97.2 315.625 97.2 315.625 97.2" class="ct-line"></path><line x1="40" y1="92.4" x2="40.01" y2="92.4" class="ct-point" value="230" opacity="1"></line><line x1="79.375" y1="30" x2="79.385" y2="30" class="ct-point" value="750" opacity="1"></line><line x1="118.75" y1="66" x2="118.76" y2="66" class="ct-point" value="450" opacity="1"></line><line x1="158.125" y1="84" x2="158.135" y2="84" class="ct-point" value="300" opacity="1"></line><line x1="197.5" y1="86.4" x2="197.51" y2="86.4" class="ct-point" value="280" opacity="1"></line><line x1="236.875" y1="91.2" x2="236.885" y2="91.2" class="ct-point" value="240" opacity="1"></line><line x1="276.25" y1="96" x2="276.26" y2="96" class="ct-point" value="200" opacity="1"></line><line x1="315.625" y1="97.2" x2="315.635" y2="97.2" class="ct-point" value="190" opacity="1"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="40" y="125" width="39.375" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 39px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">12p</span></foreignObject><foreignObject style="overflow: visible;" x="79.375" y="125" width="39.375" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 39px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">3p</span></foreignObject><foreignObject style="overflow: visible;" x="118.75" y="125" width="39.375" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 39px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">6p</span></foreignObject><foreignObject style="overflow: visible;" x="158.125" y="125" width="39.375" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 39px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">9p</span></foreignObject><foreignObject style="overflow: visible;" x="197.5" y="125" width="39.375" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 39px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">12p</span></foreignObject><foreignObject style="overflow: visible;" x="236.875" y="125" width="39.375" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 39px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">3a</span></foreignObject><foreignObject style="overflow: visible;" x="276.25" y="125" width="39.375" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 39px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">6a</span></foreignObject><foreignObject style="overflow: visible;" x="315.625" y="125" width="39.375" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 39px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">9a</span></foreignObject><foreignObject style="overflow: visible;" y="96" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">0</span></foreignObject><foreignObject style="overflow: visible;" y="72" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">200</span></foreignObject><foreignObject style="overflow: visible;" y="48" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">400</span></foreignObject><foreignObject style="overflow: visible;" y="24" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">600</span></foreignObject><foreignObject style="overflow: visible;" y="0" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">800</span></foreignObject><foreignObject style="overflow: visible;" y="-30" x="0" height="30" width="30"><span class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">1000</span></foreignObject></g></svg></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/Content/assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/material.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <!-- Forms Validations Plugin -->
    <script src="/Content/assets/js/jquery.validate.min.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="/Content/assets/js/moment.min.js"></script>
    <!--  Charts Plugin -->
    <script src="/Content/assets/js/chartist.min.js"></script>
    <!--  Plugin for the Wizard -->
    <script src="/Content/assets/js/jquery.bootstrap-wizard.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/Content/assets/js/bootstrap-notify.js"></script>
    <!--   Sharrre Library    -->
    <script src="/Content/assets/js/jquery.sharrre.js"></script>
    <!-- DateTimePicker Plugin -->
    <script src="/Content/assets/js/bootstrap-datetimepicker.js"></script>

    <!-- Sliders Plugin -->
    <script src="/Content/assets/js/nouislider.min.js"></script>

    <!-- Select Plugin -->
    <script src="/Content/assets/js/jquery.select-bootstrap.js"></script>

    <!--  DataTables.net Plugin    -->
    <script src="/Content/assets/js/jquery.datatables.js"></script>

    <!-- Sweet Alert 2 plugin -->
    <script src="/Content/assets/js/sweetalert2.js"></script>

    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/Content/assets/js/jasny-bootstrap.min.js"></script>

    <!--  Full Calendar Plugin    -->
    <script src="/Content/assets/js/fullcalendar.min.js"></script>

    <!-- TagsInput Plugin -->
    <script src="/Content/assets/js/jquery.tagsinput.js"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="/Content/assets/js/material-dashboard.js"></script>

    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="/Content/assets/js/demo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            demo.initFormExtendedDatetimepickers();
            md.initSliders();
            demo.initMaterialWizard();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();
            function callCompletedAction() {
                $.ajax({
                    url: "/Home/FetchCompletedActions",
                    type: "POST",
                    dataType: "json",
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.length > 0) {
                            var notify = $.notify(data, { allow_dismiss: true, type: 'warning' });
                        }
                    },
                    error: function () {
                    }
                });
            }
            callCompletedAction();
        });
    </script>

    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-moment.js"></script>
    <script>
        moment.locale('ar');         // ar
        var appSidBar = angular.module('AppSideBar', ['angularMoment']);
        appSidBar.controller('SideBarController', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
            $scope.CategoryList = [];

            $http.get('/SideBarItemsModels/FetchSideBarItems').then(function (recData) {
                if (recData.data.length > 0) {
                    $scope.CategoryList = recData.data
                    console.log($scope.CategoryList)
                }
            });
        }]);

        $("#notifyDiv").click(function () {
            // call anglaurjs
            var scope = angular.element(document.getElementById("notifyDiv")).scope();
            scope.$apply(function () {
                scope.notificationCount = 0;
                scope.ChangeNotificationsState();
            });
            return false;
        });

        var appNotify = angular.module('AppNotify', ['angularMoment']);
        appNotify.controller('NotifyController', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
            $scope.notificationCount = 0;
            $scope.notifications = [];
            $scope.lastNotifyID = 0;
            $scope.tasksCount = 0;
            $scope.tasks = [];
            $scope.lastTasksID = 0;

            var CheckNotifications = function () {
                $http.get('/Home/FetchNotification?lastID=' + $scope.lastNotifyID).then(function (recData) {
                    if (recData.data.length > 0) {
                        $scope.notifications = $scope.notifications.concat(recData.data);
                        $scope.notificationCount = recData.data[0].countNotshown + $scope.notificationCount;
                        $scope.lastNotifyID = recData.data[0].id
                    }
                });
            }

            CheckNotifications();

            $scope.ChangeNotificationsState = function () {
                $http.get('/Home/ChangeNotificationsState?lastID=' + $scope.lastNotifyID).then(function (recData) {
                    console.log(recData);
                });
            }

            $interval(CheckNotifications, 7000);
        }]);
        angular.bootstrap(document.getElementById("notifyDiv"), ['AppNotify']);

        var pCustomization = angular.module('pCustomize', ['angularMoment']);
        pCustomization.controller('pControllerCustomize', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
            $scope.title = "@action";
            $scope.controllerNamy = "@controller";

            $http.get('/Home/FetchBreadCrambAndTitle?con=@controller&act=@action').then(function (recData) {
                console.log(recData)
                $scope.title = recData.data.actionName;
                $scope.controllerNamy = recData.data.controllerName;
            });

        }]);
        angular.bootstrap(document.getElementById("pageCustomize"), ['pCustomize']);
    </script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval")
    <!-- notice modal -->
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notice" style="width:1200px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                    <h5 class="modal-title" id="myModalLabel">Create a New TimeOff</h5>
                    <hr />
                </div>
                <div class="modal-body">
                    @{Html.RenderAction("CreatePartial", "VacationsModels"); }
                </div>
            </div>
        </div>
    </div>
    <!-- end notice modal -->
    <!-- document modal -->
    <div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-document" style="width:1200px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
                </div>
                <div class="modal-body" style="padding-top:0px;">
                    @{Html.RenderAction("CreatePartial", "DocumentsModels"); }
                </div>
            </div>
        </div>
    </div>
    <!-- end document modal -->
</body>
</html>
