﻿@model JqueryDTWithMVC.Models.ViewModels.Documents.DocumentsViewModel
@using Microsoft.AspNet.Identity;


<link href="~/Content/selectize/selectize.bootstrap3.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "DocumentsModels", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h6>Fill the Following Informations</h6>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.uploadedFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="uploadedFile" id="uploadedFile" required style="opacity:unset;position:unset;" />
                @Html.ValidationMessageFor(model => model.uploadedFile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="select-employee" class="control-label col-md-2">Team Members</label>
            <div class="col-md-10">
                <select id="selectedEmployee" name="sharedWithUsers[]" multiple class="demo-default" style="width:70%" placeholder="Select an Employee...">
                    <option value="">Select an Employee...</option>
                    @foreach (var user in (SelectList)ViewBag.associatedUsers)
                    {
                        <option value="@user.Value">@user.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Document Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DocumentsCategoryModelsID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DocumentsCategoryModelsID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Content/selectize/selectize.js"></script>
<script>
    $('#selectedEmployee').selectize({
    });
</script>



