﻿@model JqueryDTWithMVC.Models.DAL.Documents.DocumentsModels

@{
    ViewBag.Title = "Delete Document";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            @ViewBag.Title
        </h4>
    </div>
    <div class="card-content">
        <h3>Do you want to remove this uploaded document?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.documentCatgeory.catgeoryName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.documentCatgeory.catgeoryName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.filePath)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.filePath)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fileName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fileName)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
                </div>
            }
        </div>
    </div>
</div>
