﻿@model JqueryDTWithMVC.Models.DAL.Documents.DocumentsModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            @ViewBag.Title
        </h4>
    </div>
    <div class="card-content">
        <div>
            <h4>Document Informations</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.documentCatgeory.catgeoryName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.documentCatgeory.catgeoryName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.filePath)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.filePath)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fileName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fileName)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
        </p>
    </div>
</div>
