﻿@model JqueryDTWithMVC.Models.ViewModels.Documents.DocumentsViewModel

@{
    ViewBag.Title = "Edit Uploaded Document";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<link href="~/Content/selectize/selectize.bootstrap3.css" rel="stylesheet" />

<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            @ViewBag.Title
        </h4>
    </div>
    <div class="card-content">
        @using (Html.BeginForm("Edit", "DocumentsModels", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Edit the Following Informations:</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.uploadedFile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="uploadedFile" id="uploadedFile" style="opacity:unset;position:unset;" />
                        @Html.ValidationMessageFor(model => model.uploadedFile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="select-employee" class="control-label col-md-2">Team Members</label>
                    <div class="col-md-10">
                        <select id="select-employee" name="sharedWithUsers[]" multiple class="demo-default" style="width:70%" placeholder="Select an Employee...">
                            <option value="">Select an Employee...</option>
                            @foreach (var user in (SelectList)ViewBag.associatedUsers)
                            {
                                if (Model.users != null)
                                {
                                    if (Model.users.Any(aa => aa.ApplicationUserId == user.Value))
                                    {
                                        <option value="@user.Value" selected>@user.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="@user.Value">@user.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Document Category", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DocumentsCategoryModelsID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DocumentsCategoryModelsID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="hidden" name="sharedWithUsers" id="sharedWithUsers" value="" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Edit" class="btn btn-warning" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Content/selectize/selectize.js"></script>
    <script>
        $('#select-employee').selectize({
        });
    </script>
}
