﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.Documents.DocumentsModels>

@{
    ViewBag.Title = "Documents List";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            @ViewBag.Title
        </h4>
    </div>
    <div class="card-content" style="font-size:13px !important;">
        <p>
            @Html.ActionLink("Add New Document", "Create", null, new { @class = "btn btn-success" })
        </p>
        <table class="table table-responsive">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.documentCatgeory.catgeoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fileName)
                </th>
                <th>
                    Users
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.documentCatgeory.catgeoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fileName)
                    </td>
                    <td>
                        @if (item.sharedWithUsers != null)
                        {
                            foreach (var i in item.sharedWithUsers)
                            {
                                <p>@i.users.EmployeeName</p>
                            }
                        }

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" }) |
                        <a href="@item.filePath" class="btn btn-default"> Download</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
