﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.Documents.DocumentsModels>
@{
    ViewBag.Title = "User Documents Lists";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<p>
    @Html.ActionLink("Add New Document", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.documentCatgeory.catgeoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fileName)
        </th>
        <th>
            Users
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.documentCatgeory.catgeoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileName)
            </td>
            <td>
                @if (item.sharedWithUsers != null)
                {
                    foreach (var i in item.sharedWithUsers)
                    {
                        <p>@i.users.EmployeeName</p>
                    }
                }
            </td>
            <td>
                <a href="/DocumentsModels/Edit?id=@item.ID" class="btn btn-just-icon btn-simple btn-twitter">
                    <i class="fa fa-edit"></i>
                    <div class="ripple-container"></div>
                </a> |
                <a href="/DocumentsModels/Delete?id=@item.ID" class="btn btn-just-icon btn-simple btn-twitter">
                    <i class="fa fa-close"></i>
                    <div class="ripple-container"></div>
                </a> |
                <a href="@item.filePath" class="btn btn-just-icon btn-simple btn-twitter">
                    <i class="fa fa-download"></i>
                    <div class="ripple-container"></div>
                </a>
            </td>
        </tr>
    }

</table>