﻿@model JqueryDTWithMVC.Models.DAL.Schedules.SchedulesModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SchedulesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.schedule_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_allowtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_allowtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_saturday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_saturday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_saturday2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_saturday2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_sunday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_sunday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_sunday2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_sunday2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_monday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_monday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_monday2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_monday2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_tuesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_tuesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_tuesday2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_tuesday2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_wednesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_wednesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_wednesday2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_wednesday2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_thursday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_thursday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_thursday2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_thursday2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_friday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_friday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_friday2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_friday2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
