﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.Schedules.SchedulesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.schedule_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_allowtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_saturday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_saturday2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_sunday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_sunday2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_monday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_monday2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_tuesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_tuesday2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_wednesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_wednesday2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_thursday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_thursday2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_friday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule_friday2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_allowtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_saturday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_saturday2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_sunday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_sunday2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_monday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_monday2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_tuesday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_tuesday2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_wednesday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_wednesday2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_thursday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_thursday2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_friday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule_friday2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
