﻿@model JqueryDTWithMVC.Models.ViewModels.Roles.RolesViewModel

@{
    ViewBag.Title = "مسح الصلاحية";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>مسح الصلاحية</h2>

<h3>هل انت متاكد انك تريد مسح الصلاحية؟</h3>
<div>
    <h4>معلومات الصلاحية</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           اسم الصلاحية:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="مسح" class="btn btn-default" /> |
            @Html.ActionLink("عودة الى القائمة", "Index", new { @class = "btn btn-success" })
        </div>
    }
</div>
