﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "الصلاحيات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-right:5%;margin-left:5%">
    <h2>الصلاحيات</h2>

    <p>
        @Html.ActionLink("انشاء جديد", "Create", new { @class = "btn btn-info" })
    </p>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>
                اسم الصلاحية    
            </th>
            <th>
                الفعاليات
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("مسح", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }))
                </td>
            </tr>
        }

    </table>
</div>