﻿@model JqueryDTWithMVC.Models.DAL.DocumentsCategory.DocumentsCategoryModels

@{
    ViewBag.Title = "مسح";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>هل تريد مسح الملف؟</h3>
<div>
    <h4>DocumentsCategoryModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.catgeoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catgeoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="مسح" class="btn btn-danger" /> |
            @Html.ActionLink("العودة الى القائمة", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
