﻿@model JqueryDTWithMVC.Models.DAL.DocumentsCategory.DocumentsCategoryModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>DocumentsCategoryModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.catgeoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catgeoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("العودة الى القائمة", "Index", null, new { @class = "btn btn-info" })
</p>
