﻿@model IEnumerable<JqueryDTWithMVC.Models.DAL.DocumentsCategory.DocumentsCategoryModels>

@{
    ViewBag.Title = "قائمة";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("انشاء", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.catgeoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.catgeoryName)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("مسح", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
